body{ margin:0 auto; font-family:"Microsoft YaHei",微软雅黑;}
.frame{ width:950px;height:auto;font-family:Verdana,Arial, Helvetica, sans-serif;margin:0 auto;text-align:center;}
p, h1, h2, h3, h4, h5, ul,li,  dl, dt, dd, b,div,img{ list-style-type:none; margin:0px; padding:0px; border:0px; font-weight:normal;}
ul,li{list-style-type:none;}
img{vertical-align:top;}
a,area{outline: none;blr:expression(this.onFocus=this.blur());}/*For IE*/
:focus{-moz-outline-style:none;}/*For Firefox*/
.span20{ height:20px; line-height:20px; display:block; clear:both;}
.left{ float:left;}
.right{ float:right;}

#frame{ background:url(/FrontEnd/images20090801/Special/2014ChineseNewYear/back.gif) fixed; }
.banner_top{ width:100%; margin:0 auto; text-align:center;}
.banner1{ background:url(/FrontEnd/images20090801/Special/2014ChineseNewYear/banner1.jpg) no-repeat center; height:75px;}
.banner2{ background:url(/FrontEnd/images20090801/Special/2014ChineseNewYear/banner2.jpg) no-repeat center; height:75px;}
.banner3{ background:url(/FrontEnd/images20090801/Special/2014ChineseNewYear/banner3.jpg) no-repeat center; height:328px;}

.content{ width:960px; margin:0 auto;}

.button{ position:relative;}
.icon{width:202px;height:51px;left:470px;top:30px;position:absolute;}
.icon a{width:202px; height:51px; display:block; background:url(/FrontEnd/images20090801/Special/2014ChineseNewYear/zhuce.gif) no-repeat top;}
.icon a:hover{ background-position:bottom;}
.icon1{width:141px;height:46px;left:670px;top:10px;position:absolute;}
.icon1 a{width:141px; height:46px; display:block; background:url(/FrontEnd/images20090801/Special/2014ChineseNewYear/button1.gif) no-repeat top;}
.icon1 a:hover{ background-position:bottom;}

.icon2{width:141px;height:46px;left:670px;top:68px;position:absolute;}
.icon2 a{width:141px; height:46px; display:block; background:url(/FrontEnd/images20090801/Special/2014ChineseNewYear/button2.gif) no-repeat top;}
.icon2 a:hover{ background-position:bottom;}
.copy{ color:#fff; font-size:14px; text-align:right;}