body{ margin:0 auto;}
.frame{ width:950px;height:auto;font-family:Verdana,Arial, Helvetica, sans-serif;margin:0 auto;text-align:center;}
p, h1, h2, h3, h4, h5, ul,li,  dl, dt, dd, b,div,img{ list-style-type:none; margin:0px; padding:0px; border:0px; font-weight:normal;}
ul,li{list-style-type:none;}
img{vertical-align:top;}
a,area{outline: none;blr:expression(this.onFocus=this.blur());}/*For IE*/
:focus{-moz-outline-style:none;}/*For Firefox*/
.span20{ height:20px; line-height:20px; display:block; clear:both;}

.banner_top{ width:960px; margin:auto;}
.button{position:relative;}

.icon{width:190px; height:46px; left:152px; top:20px; position:absolute;}
.icon a{width:190px; height:46px; background:url(cssImg/details.gif) no-repeat top; display:block;}
.icon a:hover{ background-position:bottom;}

.icon1{width:200px;height:46px;left:610px;top:65px;position:absolute;}
.icon1 a{width:200px; height:46px; display:block; background:url(cssImg/tailor_shop.gif) no-repeat top; display:block;}
.icon1 a:hover{ background-position:bottom;}
