body{ margin:0 auto;}
.frame{ width:950px;height:auto;font-family:Verdana,Arial, Helvetica, sans-serif;margin:0 auto;text-align:center;}
p, h1, h2, h3, h4, h5, ul,li,  dl, dt, dd, b,div,img{ list-style-type:none; margin:0px; padding:0px; border:0px; font-weight:normal;}
ul,li{list-style-type:none;}
img{vertical-align:top;}
a,area{outline: none;blr:expression(this.onFocus=this.blur());}/*For IE*/
:focus{-moz-outline-style:none;}/*For Firefox*/
.span20{ height:20px; line-height:20px; display:block; clear:both;}

.banner_top{ width:950px; margin:auto;}
.banner01{ background:url(cssImg/fanxian_03.jpg) no-repeat; height:100px;}
.banner02{ background:url(cssImg/fanxian_05.jpg) no-repeat; height:100px;}
.banner03{ background:url(cssImg/fanxian_06.jpg) no-repeat; height:100px;}
.banner04{ background:url(cssImg/fanxian_07.jpg) no-repeat; height:100px;}
.banner05{ background:url(cssImg/fanxian_08.jpg) no-repeat; height:100px;}
.banner06{ background:url(cssImg/fanxian_09.jpg) no-repeat; height:100px;}
.banner07{ background:url(cssImg/fanxian_10.gif) no-repeat; height:100px;}
.banner08{ background:url(cssImg/fanxian_11.gif) no-repeat; height:100px;}
.banner09{ background:url(cssImg/fanxian_12.gif) no-repeat; height:131px;}
.banner10{ background:url(cssImg/fanxian_13.gif) no-repeat; height:126px; position:relative; }

.icon{width:279px;height:71px;left:335px;top:28px;position:absolute;}
.icon a{width:279px; height:71px; display:block; background:url(cssImg/button_03.gif) no-repeat top;}
.icon a:hover{ background-position:bottom;}