.Track_message{width:550px;border:1px #38913d solid;position:fixed;z-index:900;_position:absolute;left:50%;margin-left:-225px;top:50%;margin-top:-204px;_margin-top:0;background:#fff;height:430px;}
.Track_tou h4{float:left;font-size:14px;font-weight:normal;color:#666;padding:15px 0 0px 15px;  }
.Track_close{height:19px;width:25px;float:right;padding:15px 15px 0 0;}
.Track_close a{background:url(/FrontEnd/images20090801/icon/common/dialog_closer.gif) no-repeat;cursor:pointer;float:right;height:19px;width:25px;}
.Track_close a:hover{background-position:-60px;}
.Track_tou{background:url(/FrontEnd/images20090801/icon/common/m1.gif) repeat-x 0 0;height:60px;}
.Track_tishi{color:#999;height:28px;text-align: left; font-size:14px;	line-height:28px;margin:0px; width: 420px; margin:15px 0 0 50px;}
.Track_box{margin:15px 0px 0px 50px;height:285px;font-family: Tahoma; width:454px;  text-align:left;display: inline;}
.Track_o{color:#FF6600;} 
.dis2{border-left:#ddd solid 1px; }
.Track_ment{cursor: pointer; width: 522px;height: 42px;font: 14px;font-weight: 900;border:#ddd solid 1px;margin: 10px 13px 0px 13px;border-bottom: none;  background-color: #f9f9f9; }
.Track_ment .dis{ background-color: #f9f9f9;border-bottom:#f9f9f9 solid 1px; }
.Track_ment li{background-color: #fff; text-align: center; height: 30px;float: left;width: 260px;line-height: 30px; border-bottom:#ddd solid 1px; }
.Track_box p{ margin-top: 10px;padding-top: 10px;display: block;margin-left: 50px;+display: inline;_display: inline;width: 447px;}
#suggestContent{ width: 447px;height: 168px;}
#suggestBtn{ background: url(/FrontEnd/images20090801/button/97an.gif) no-repeat 0px 0px;width: 97px;height: 33px;border: none;font-size: 14px;color: #fff; }
#suggestBtn:hover{ background-position: 0 -34px;}
#suggestCheck{ width: 112px;height: 30px;border: solid 1px #ccc;}
.text{ width: 454px;height: 15px;text-align: right;font-size: 12px;margin-left: 50px;}