.e_help{margin:20px 23px 0 0;float:right;width:720px;display:inline;}
.e_help strong{font-size:14px;line-height:28px;}
.e_help p{color:#666;line-height:20px;}
.tu img{border:1px solid #eee;}
.e_help a{color:#71a8cf;}
.e_help a:hover{color:#ff0000;text-decoration:none;}
.e_help span{color:#ff0000;font-family:"ו";padding-right:2px;}
.e_help b{color:#ff0000;font-weight:normal;}


