body{font-size:12px;margin:0;padding:0;font-family:Verdana, Arial, Helvetica, sans-serif;background:url(/FrontEnd/images20090801/newmypanli/RmbAccount/huanxun.gif) repeat-x 0 100px;}p,h1,h2,h3,h4,h5,li,ul,dd,dt,dl,form{margin:0;padding:0;}img{border:none;}ul li{list-style:none;}
.top{margin:auto;width:830px;height:130px;}
.logo{float:left;margin-top:32px;width:140px;}
.top dl{float:left;margin:30px 0 0 0;}
.top dl dt{font-size:simhei;font-size:24px;font-weight:bold;color:#FF9900;margin-bottom:3px;}
.top dl dd{font-size:14px;}
.r{float:right;margin-top:50px;}
.center{border:#ddd solid 1px;margin:auto;width:830px;height:450px;}
.left{float:left;width:610px;border-right:#ddd solid 1px;margin:30px 0 0 20px;display:inline;height:390px;}
.tishi h2{font-size:14px;height:30px;}
.tishi p span{color:#FF0000;font-weight:bold;}
.tishi{border-bottom:#DEF2F3 solid 3px;height:60px;margin-right:20px;padding-left:5px;}

.neir{width:600px;height:200px;}
.neir ul li{width:185px;height:140px;text-align:center;float:left;padding-top:20px;cursor:pointer;border:#fff solid 1px;margin:20px 10px 30px 0;display:inline;}
.choose{padding-top:20px;}

.neir .c_on{border:#fecb00 solid 1px;}

.next{margin:25px 0 0 200px;}
.next input{background:url(/FrontEnd/images20090801/newmypanli/RmbAccount/hx_next.gif) no-repeat;height:34px;width:150px;border:none;font-weight:bold;cursor:pointer;}
.next p{color:#FF0000;padding:5px 0 0 5px;}
.right{float:right;width:175px;margin-top:50px;}
.right p{font-size:14px;line-height:28px;color:#FF9900;height:75px;}


.foot{margin:auto;width:830px;padding:20px 0;text-align:center;}































