.fill{float:right;width:720px;margin:25px 23px 0 0;display:inline;border-bottom:30px;}
.tou{border-bottom:#ddd dashed 1px;height:70px;background:url(/FrontEnd/images20090801/newmypanli/ChangePassword/suo.gif) no-repeat 10px 0;padding-left:75px;margin-bottom:30px;}
.tou h2{font-size:22px;height:40px;line-height:40px;}
.tou p{color:#999;}
.biao input{border:#a7d0e4 solid 1px;font-size:14px;padding:5px;width:220px;float:left;}
.biao .z{width:150px;text-align:right;font-size:14px;padding-right:5px;}
.biao table{border-collapse:collapse;width:720px;}
.biao td{padding:7px 0;}
.biao span{float:left;width:131px;height:28px;border:#eee solid 1px;}
.biao img{height:28px;width:131px;cursor:pointer;}
.biao a{float:left;margin:7px 0 0 10px;color:#71a8cf;}
.biao a:hover{color:#FF0000;text-decoration:none;}
.biao p{float:left;margin:8px 0 0 10px;color:#bbb;}
.tijiao{padding:15px 0 0 155px;}
.tijiao input{background:url(/FrontEnd/images20090801/newmypanli/anniu_2.gif) no-repeat 0 0;width:139px;padding-bottom:13px;height:47px;border:0;color:#eee;font-size:16px;cursor:pointer;float:left;}
.tijiao .by{background-position:0 -52px;color:#FFF;}
.tijiao a{float:left;margin:10px 0 0 20px;display:inline;color:#bbb;}
.tijiao a:hover{color:#FF0000;text-decoration:none}

.rank{background:url(/FrontEnd/images20090801/newmypanli/ChangePassword/rank.gif) no-repeat left 0;padding-top:14px;width:116px;float:left;margin:0 0 -5px 10px;color:#ff6600;height:14px;overflow:hidden;display:inline}
.High{background-position:right 0;color:#7fcc30;}
.mid{background-position:-118px 0;color:#7fcc30;}

input.red{background:#FFF4F4;border:#FF0000 solid 1px;}
p.red{color:#f00;}
.biao .lv{color:#97CE73;}

.succeed{background:url(/FrontEnd/images20090801/biaoqing/b5.gif) no-repeat 100px 7px;padding-left:230px;height:130px;border-bottom:#ddd dashed 1px;margin-bottom:20px;margin-top:30px;}
.succeed h2{color:#73B051;font-size:20px;line-height:35px;height:40px;font-family:Arial;padding-top:25px;}
.succeed p{line-height:24px;}
.cai{padding-left:100px;}
.cai h2{font-size:14px;font-weight:100;height:22px;cursor:pointer;}
.cai a{border:#eee solid 1px;display:block;width:490px;height:55px;text-decoration:none;color:#999;padding-left:35px;background:#f9f9f9 url(/FrontEnd/images20090801/newmypanli/ChangePassword/zs.gif) no-repeat 15px 10px;float:left;margin-bottom:10px;}
.cai a:hover{background:#FFFBEC url(/FrontEnd/images20090801/newmypanli/ChangePassword/zs.gif) no-repeat 15px -49px;border:#ffe0a3 solid 1px;}
.cai a span{display:block;color:#71a8cf;font-size:14px;height:24px;line-height:24px;padding-top:3px;}
.cai a b{font-weight:100;}









