.c_guwen{height:700px;}
.c_top{padding:25px 0 0 25px;height:80px;}
.c_pic{float:left;margin-right:15px;}
.c_left h1{font-size:18px;font-family:"Microsoft YaHei";font-weight:normal;height:32px;border-bottom:1px dashed #ddd;width:630px;margin-bottom:8px;}
.c_left{float:left;}
.c_biao1{background:#ececec;border:1px solid #d9d9d9;height:32px;width:725px;margin-left:25px;}
.c_biao1 p{line-height:32px;padding-left:10px;font-size:14px;}

.c_neir{margin-top:10px;padding-left:25px;}
.c_neir textarea{border:#d9d9d9 solid 1px;height:70px;width:716px;font-size:14px;padding:5px 5px;margin-bottom:10px;}



.am_cg p a{color:#339AFF;}
.am_cg span{color:#999;display:block;height:25px;}
.am_cg span a{color:#FF9900;}
.am_cg a:hover{color:#FF0000;text-decoration:none}


.am_cg{padding:100px 0 100px 260px;background:url(/FrontEnd/images20090801/biaoqing/b2.gif) no-repeat 130px 110px;}
.am_cg h2{font-size:14px;height:30px;color:#058105;line-height:30px;padding-top:10px;padding-bottom:10px;}
.am_cg h2 a{color:#FF9900;font-size:12px;color:#f90;}
.am_cg p{line-height:20px;margin-bottom:10px;}


.c_sc{padding:10px 0 10px 25px;}
.c_sc p{font-size:14px;float:left;}
.c_youx{padding:7px 0 15px 25px;height:20px;}
.c_youx p{float:left;font-size:14px;height:25px;line-height:25px;}
.c_youx input{width:300px;padding:5px;border:#d9d9d9 solid 1px;}
p.red{color:#f00;font-size:12px;padding-left:10px;}

.tijiao{padding:30px 0 0 25px;}
.tijiao input{background:url(/FrontEnd/images20090801/newmypanli/anniu_2.gif) no-repeat 0 0;width:139px;padding-bottom:13px;height:47px;border:0;color:#eee;font-size:16px;cursor:pointer;float:left;}
.tijiao .by{background-position:0 -52px;color:#FFF;}
.tijiao a{float:left;margin:10px 0 0 20px;display:inline;color:#bbb;}
.tijiao a:hover{color:#FF0000;text-decoration:none}





.a_red{color:#ff0000;}
.a_hui{color:#acacac;}











