.fill{float:right;width:720px;margin-right:22px;display:inline;padding:5px 0 20px 0;font-family:Tahoma,Helvetica,Arial,'ו',sans-serif;}

.circuit{background:url(/FrontEnd/images20090801/newmypanli/OrderCart/circuit3.gif) no-repeat bottom;height:100px;width:720px;margin-bottom:20px;}
.circuit img{margin:5px 0 0 473px;}

.biao table{width:100%;border-collapse:collapse;}
.biao table th{text-align:left;border:#ddd solid 1px;height:32px;background:#e9e9e9;padding:0 8px;}
.biao table th span{color:#FF0000;font-weight:100;}
.biao table td{border:#ddd solid 1px;padding:8px;margin:0;}

.biao table .w1{width:35px;text-align:center;padding:0;color:#bbb;font-family:Arial;font-size:16px;}
.biao table .w2{width:75px;}
.biao table td.w2{width:75px;background:#f7f7f7;}
.biao table td.w3{line-height:18px;}
.biao table td.w4{width:75px;color:#FF0000;}
.biao table td.w5{width:50px;}
.biao table td.w6{width:75px;}

.biao table td.w3 a{color:#71A8CF;}
.biao table td.w3 a:hover{color:#FF0000;text-decoration:none;}
.biao table .d{background:#f3f3f3;}
.biao table .d .w2{background:#e9e9e9;}

.yusuan{text-align:right;margin:10px 0 0 0;height:55px;font-size:14px;line-height:24px;font-family:"simsun"}
.yusuan dt{height:30px;}
.yusuan dt b{color:#FF0000;font-size:18px;font-family:Arial;}
.yusuan dd span{color:#FF0000;font-size:14px;}
.yusuan dt i{color:#FF9900;font-style:normal;}
.tijiao{float:right;border-top:#ddd solid 1px;padding-top:15px;width:300px;}
.tijiao dt{float:left;margin:10px 0 0 30px;display:inline;}
.tijiao dt a{font-size:14px;padding-left:15px;background:url(/FrontEnd/images20090801/newmypanli/fanhui.gif) no-repeat left;color:#71A8CF;text-decoration:none;}
.tijiao dt a:hover{color:#FF9900;}
.tijiao dd{float:right;}
.tijiao dd input{background:url(/FrontEnd/images20090801/newmypanli/anniu_2.gif) no-repeat 0 0;height:50px;width:139px;border:none;font-size:14px;color:#FFF;line-height:30px;padding-bottom:15px;cursor:pointer;}
.tijiao dd .by{background-position:0 -52px;}

.shdz{margin-bottom:10px;}
.lm{background:#599c6a;height:28px;border:#258744 solid 1px;}
.lm_bk{border-left:#8bba97 solid 1px;border-top:#8bba97 solid 1px;height:27px;overflow:hidden;}
.lm h2{float:left;font-size:14px;line-height:28px;padding-left:10px;color:#fff;}
.lm a{float:right;color:#fff;margin:8px 10px 0 0;display:inline;text-decoration:none;}
.lm a:hover{color:#Fd0;text-decoration:underline;}
.lm .huodong{color:#d5f03d;text-decoration:underline;}
.lm .huodong:hover{color:#Fd0;text-decoration:none;}

.lm2{background:#599c6a;height:28px;border:#258744 solid 1px;}
.lm_bk2{border-left:#8bba97 solid 1px;border-top:#8bba97 solid 1px;height:27px;overflow:hidden;}
.lm2 h2{float:left;font-size:14px;line-height:28px;padding-left:10px;color:#fff;}
.h_gun{width:460px;overflow:hidden;height:22px;float:right;margin-right:10px;}
.h_gun p{float:left;color:#FF0;margin:6px 10px 0 0;display:inline;text-decoration:none;width:850px;}
.h_gun a{color:#cdf1b2;}
.h_gun span{color:#F00;}
.lm2 a:hover{color:#fff;text-decoration:underline;}
.lm2 .huodong{color:#d5f03d;text-decoration:underline;}
.lm2 .huodong:hover{color:#Fd0;text-decoration:none;}


.dizhi{padding-bottom:5px;font-family:Verdana, Arial, Helvetica, sans-serif;float:left;}
.dizhi ul li{background:#f7f7f7;border:#eee solid 1px;padding:5px 0 5px 0;float:left;width:718px;margin-bottom:5px;line-height:18px;}
.dizhi ul .on{background:#ccc;border:#bbb solid 1px;}
.dizhi input{float:left;margin:0px 0 0 12px;display:inline;}
.you{float:left;width:665px;margin:0px 0 0 12px;display:inline;}
.you span{padding-left:5px;color:#999;}

.box{margin-bottom:20px;background:#f0f8ff;clear:both;border:#e1eaf2 solid 1px;}
.box table{width:100%;margin-top:5px;}
.box table td{padding:4px 0;margin:0;line-height:26px;}
.box table .z{text-align:right;font-size:12px;width:80px;vertical-align:top;}
.z b{color:#FF0000;font-size:12px;margin-right:3px;}
.box table{border-collapse:collapse;margin-bottom:5px;}
.box table input{border:#a8c0d6 solid 1px;padding:4px 3px;background:#fff;margin:0;font-size:14px;float:left;}
.box table ul li{float:left;}
.box table .quyu input{width:268px; background:#fff url(/FrontEnd/images20090801/icon/common/rr.gif) no-repeat 250px center;cursor:pointer;}
.tcbox{position:relative;float:left;}
.country{position:absolute;background:#ffffd6;border:#7f9db9 solid 1px;width:622px;top:26px;left:-276px;float:left;padding:10px 0;overflow:hidden;}
.zimu{border-bottom:#f60 solid 1px;height:24px;line-height:24px;width:600px;margin-left:10px;}
.zimu li a{float:left;background:#ffe1b0;margin-right:5px;display:inline;text-align:center;text-decoration:none;color:#b65616;}
.zimu li .w35{width:35px;}
.zimu li .w90{width:90px;}
.zimu .c_on a{color:#fff;background:#f60;}
.gj_name{padding:10px 0 0 10px;}
.gj_name li{width:120px;}
.gj_name li a{text-decoration:none;color:#333;padding:1px;}
.gj_name li a:hover{background:#FF6600;color:#fff;}
.cs label{width:80px;}
.cs input{width:240px;}
.y1 input{width:65px;}
.y2 input{width:125px;}
.y3 input{width:240px;}
.y2 label{width:50px;}
.y3 label{width:80px;}
.dz{width:616px;}
.box table label{float:left;padding-left:20px;text-align:right;}
.box table select{float:left;margin-right:10px;display:inline;}
.box table input.red{border:#FF0000 solid 1px;background:#FFECEC;color:#f00;}
.beizhu{border-top:#c6d9ed solid 1px;width:686px;margin-left:18px;padding-top:10px;height:105px;}

.beizhu textarea{border:#a8c0d6 solid 1px;height:60px;width:616px;padding:4px 3px;font-size:12px;margin:0;float:right;}
.beizhu .mr{color:#bbb;}


.yunfei{margin:0px 0 15px 0;}
.yunfei table{border-collapse:collapse;width:100%;margin-bottom:8px;border:#ddd solid 1px;}
.yunfei td{border-bottom:#ddd solid 1px;padding:10px 0;font-size:12px;cursor:pointer;}
.yunfei td span{color:#999;margin-left:5px;font-size:12px;}
.yunfei th{text-align:left;border-bottom:#ddd solid 1px;height:26px;background:#e3e3e3;padding-top:5px;font-size:14px;font-weight:100;color:#336600}
.yunfei th span{color:#336600;font-size:12px;}
.u1{width:35px;text-align:center;}
.yunfei td.u2{width:120px;color:#333;font-weight:bold;font-size:14px;}
.yunfei td.u2 i{font-style:normal;color:#333;font-weight:100;font-family:Arial;}
.yunfei .ds{background:#f7f7f7;}
.yunfei .in{background:#FEFDE7;}
.u3{width:110px;}
.u4{width:160px;}
.u5{width:210px;}
.u6{text-align:center;}

.jisuan{text-align:right;line-height:30px;height:30px;font-size:14px;padding-right:10px;font-family:Arial;}
.jisuan b{color:#F00;font-size:16px;font-weight:100;}
.jisuan span{color:#F90;margin:0 2px;}
.jisuan i{font-style:normal;color:#F00;font-size:16px;}

.js table{width:100%;background:#fff;font-size:14px;border-collapse:collapse;margin-bottom:15px;}
.js table th{height:30px;text-align:left;border:none;padding:0 0 0 10px;background:#ebebeb;color:#333;font-weight:100;}
.js table th em{font-style:normal;float:left;width:50px;height:20px;margin-top:2px;}
.yiwen{color:#C30;display:inline;position:relative;float:left;height:20px;width:20px;}
.yiwen p{line-height:24px;padding-left:10px;position:absolute;height:24px;width:210px;float:left;font-size:12px;background:#ff6;border:#FF9900 solid 1px;top:-26px;left:-100px;}
.js table th a{font-style:normal;float:left;background:url(/FrontEnd/images20090801/icon/use/w2.gif) no-repeat 0 0;height:16px;width:16px;margin-top:2px;}
.js table td{height:40px;border:none;padding-left:10px;border-bottom:#ccc solid 1px;}
.js table td b{color:#FF0000;font-size:20px;font-family:Arial;}
.js table td span{color:#FF6600;margin-left:3px;}
.js table .lv span,.js table .lv{color:#009900;}
.zhe{font-size:12px;color:#999; text-decoration:line-through;}

.shiyong{text-align:right;}
.shiyong a{color:#71A8CF;}
.shiyong a:hover{color:#f00;text-decoration:none;}
.shiyong span{color:#f60;}

.sy_xz{height:26px;}
.sy_xz h2{float:left;font-size:12px;padding-left:10px;line-height:26px;}
.sy_xz span{float:right;color:#bbb;line-height:26px;padding-right:10px;}
.youhuiquan{border:#dfe9f1 solid 1px;float:left;width:718px;background:#f0f8ff;padding:5px 0 0 0;}
.youhuiquan li{float:left;width:225px;line-height:20px;height:25px;padding:4px 0 0 10px;}
.youhuiquan label input{vertical-align:middle;margin-top:-2px; margin-bottom:1px;}
.sytj{border-top:#dfe9f1 solid 1px;clear:both;height:30px;padding-left:280px;}
.sytj a{float:left;background:url(/FrontEnd/images20090801/button/g_nav.gif) no-repeat 0 -46px;width:57px;border:0;height:21px;margin:4px 0 0 13px;display:inline;text-align:center;line-height:21px;text-decoration:none;color:#496b90;}
.sytj a:hover{background-position:0 -69px;}

.queren{height:52px;}
.ok{padding:20px 5px 0 10px;text-align:right;height:90px;}
.ok input{border:none;background:url(/FrontEnd/images20090801/newmypanli/anniu_2.gif) no-repeat;height:50px;width:139px;padding-bottom:16px;color:#FFF;font-size:14px;cursor:pointer;float:right;}
.ok .g_{background-position:0 -52px;}
.ok .hui{background-position:0 -104px;}
.ok p{float:right;background:url(/FrontEnd/images20090801/icon/common/loading_y.gif) no-repeat 0 0;padding-left:20px;margin-right:20px;display:inline;}

.box .guojia input{border:none;width:128px;float:left;margin:0;}
.box .guojia{border:#7DB1CE solid 1px;width:156px;background:#FFF;height:24px;}
.box .guojia button{background:url(/FrontEnd/images20090801/select.gif) no-repeat center;border:none;width:17px;height:16px;cursor:pointer;float:left;margin:3px 1px 0 1px;display:inline;}


.success{background:url(/FrontEnd/images20090801/welcome.jpg) no-repeat 90px 40px;padding-left:200px;height:450px;padding-top:20px;}
.success h2{color:#82B65F;font-size:24px;margin-top:40px;float:left;height:50px;}
.success p{clear:left;font-size:14px;line-height:24px;height:70px;}
.success p span{color:#FF0000;}
.success a{float:left;background:url(/FrontEnd/images20090801/newmypanli/next.gif) no-repeat 0 0;width:143px;text-align:center;font-size:14px;color:#FFF;text-decoration:none;line-height:32px;height:45px;margin-right:20px;display:inline;color:#eee;}
.success a:hover{background-position:0 -47px;color:#fff;}

.wxts{background:#F2FCE9;padding:10px 0 10px 10px;width:485px;margin:-10px 0 20px 0;border:#D9E6CC solid 1px;}
.wxts li{line-height:22px;font-family:"simsun";}
.wxts li a{float:none;background:none;color:#71A8CF;text-decoration:underline;font-size:12px;line-height:22px;padding:0;margin:0;}
.wxts li a:hover{color:#FF0000;text-decoration:none;}
.wxts li i{font-style:normal;color:#FF0000;}
.wxts h3{font-size:12px;}


.fangshi{text-align:right;padding:5px 10px;color:#000; display:none;}
.fangshi span{color:#339900;padding:0 3px;color:#f60;}
.fangshi a{color:#71a8cf;}
.fangshi a:hover{text-decoration:none;color:#FF0000;}


.beizhu em{float:left;font-style:normal;width:62px;text-align:right;}
.beizhu_r{float:right;width:620px;}
.baoliu{height:25px;}
.baoliu label{width:310px;float:left;}
.baoliu label input{vertical-align:middle; margin-top:-2px; margin-bottom:1px;}
.baoliu span{padding:5px;color:#999;}

.am_payment{padding-top:10px;float:right;}
.am_payment input{width:150px;background:white;border:#BADBEA solid 1px;padding:5px 5px 5px 5px;float:left;}
.am_payment p{font-size:14px;float:left;padding-top:5px;}
.am_payment a{color:#71a8cf;text-decoration:none;padding-left:5px;float:left;padding-top:8px;}
.am_payment a:hover{color:#f00;text-decoration:underline;}
