/*
body{font-size:12px;margin:0;padding:0;font-family:Verdana, Arial, Helvetica, sans-serif;background:#F2F2F2;}p,h1,h2,h3,h4,h5,li,ul,dd,dt,dl,form{margin:0;padding:0;}img{border:none;}ul li{list-style:none;}

.top{height:100px;margin-bottom:15px;border-bottom:#ff9900 solid 2px;background:#FFFFFF}
.kj{margin:auto;width:950px;height:80px;}
.logo{width:400px;float:left;margin:10px -50px 0 0;}
.logo a{float:left;}
.logo p{float:left;border-left:#eee solid 2px;padding:0 0 0 12px;margin-left:13px;display:inline;height:63px;}
.logo p img{margin-top:13px;}

.mypanli{float:right;color:#999;font-family:"simsun";margin-top:10px;width:590px;}
.my_dn li{float:left;height:30px;}
.my_dn li a{color:#999;margin:0 7px;float:left;display:inline;padding-top:2px;}
.my_dn li a:hover,.mypanli p a:hover{color:#F60;text-decoration:none}
.mypanli p a{color:#999;text-decoration:none}
.my_dn ul{float:right;padding-top:2px;}
.mypanli p{float:right;margin:5px 0 0 0;display:inline;}
.gouwu{background:url(/FrontEnd/images20090801/gwc.gif) no-repeat left;padding-left:23px;}

.tishi{color:#ECCC00;font-size:12px;float:right;margin:15px 0 0 0;display:inline;width:500px;text-align:right}
.tishi span{background:#ECCC00;color:#FFF;padding:1px 2px;margin:0 1px;}

.weizhi{background:url(/FrontEnd/images20090801/newmypanli/cart_yj.gif) no-repeat 0 top;font-size:14px;padding:20px 0 0 30px;color:#999;height:25px;}
.weizhi span{margin:0 5px;}
.weizhi a{color:#599ED5;}
.weizhi a:hover{text-decoration:none;color:#FF6600}
.center{width:958px;margin:auto;background:url(/FrontEnd/images20090801/newmypanli/cart_yj.gif) repeat-y -1920px;padding-bottom:20px;}

.lc_two{background:url(/FrontEnd/images20090801/newmypanli/circuit3.gif) no-repeat bottom; height:65px;width:888px;margin:auto;}
.lc_two2{background:url(/FrontEnd/images20090801/newmypanli/circuit2.gif) no-repeat bottom; height:65px;width:888px;margin:auto;}
.lc_two img{margin-left:257px;}

.bt{background:#b7b7b7 url(/FrontEnd/images20090801/newmypanli/bt2.gif) no-repeat top;height:34px;width:888px;margin:10px 0 0 35px;font-size:14px;color:#FFF;}
.yunfei{font-size:12px;color:#CC3300;position:relative;background:url(/FrontEnd/images20090801/newmypanli/yunfei.gif) no-repeat;height:40px;width:290px;margin:-33px -200px -500px -127px;float:left;display:none;}
.yunfei p{padding-left:10px;float:left;margin:0px 0 0 0;line-height:30px;}
.yunfei button{background:url(/FrontEnd/images20090801/newmypanli/clo.gif) no-repeat center;height:15px;width:15px;border:none;cursor:pointer;float:right;display:inline;margin:5px 5px 0 0;}

/*.bt ul{margin-left:50px;}*/
/*
.bt li{float:left;line-height:34px;}
.bt .w6{width:40px; text-align:center; padding-right:10px;}
.bt .w1{width:375px;}
.bt .w2{width:90px;}
.bt .w3{width:100px;}
.bt .w4{width:110px;}
.bt .w5{width:105px;}
.w5 a{float:right;height:16px;width:16px;background:url(/FrontEnd/images20090801/newmypanli/wen2.gif) no-repeat;margin:8px 30px 0 0;}
.w5 span{float:left;}
.product,.product_2{width:888px;margin:0 0 0 35px;}
.product table,.product_2 table{width:100%;border:#ddd solid 1px;margin-top:12px;border-collapse:collapse;}
.product table td,.product_2 table td{padding:0;margin:0;border:#ddd solid 1px;}
.pic{float:left;}

.b2 a{display:table-cell;vertical-align:middle;text-align:center;border:1px solid #DDDDDD;padding:1px;height:40px;width:40px;font-family:Arial;*display:block;*font-size:35px;}
.b2 img{height:40px;width:40px;vertical-align:middle;}

.b3 a,.b8 a{font-size:14px;color:#599ED5;cursor:pointer;text-decoration:underline;}
.b3 a:hover,.b8 a:hover{color:#FF6600;text-decoration:none;}
.b4 input{border:#BADBEA solid 1px;padding:3px;width:40px;font-size:18px;font-weight:bold;float:left;}
.b5 input{border:#BADBEA solid 1px;padding:3px;width:40px;font-size:18px;font-weight:bold;float:left;}
.b5 a{cursor:pointer;float:left;height:11px;width:11px;background:url(/FrontEnd/images20090801/newmypanli/jiajian.gif) no-repeat;margin:10px 5px 0 5px;overflow:hidden;}
.b5 .jian{background-position:left top;}
.b5 .jia{background-position:right top;}
.b5 .jian:hover{background-position:left -12px;}
.b5 .jia:hover{background-position:right -12px;}


.b1{width:40px;text-align:center}
.product table .b2{border-right:none;padding:7px;width:50px;}
.product table .b3{border-left:none;width:295px;padding-right:10px;line-height:22px;}
.product table .b4{width:80px;padding-left:10px;}
.product table .b5{width:95px;padding-left:5px;}
.product table .b6{width:105px;color:#FF0000;font-size:18px;padding-left:5px;}
.product table .b7{padding-left:10px;font-size:14px;}
.product table .b8{padding-left:10px;width:70px;}
.product .sj,.product_2 .sj{background:#f5f5f5;height:25px;text-align:right;padding-right:10px;color:#999;}
.sj span{margin-left:20px;}
.sj a{color:#999;}
.sj a:hover{text-decoration:none;color:#FF0000}

.pay_bt{background:#b7b7b7 url(/FrontEnd/images20090801/newmypanli/bt2.gif) no-repeat top;height:34px;width:888px;margin:30px 0 0 35px;font-size:14px;color:#FFF;}
.pay_bt ul{margin-left:50px;}
.pay_bt li{float:left;line-height:34px;}
.pay_bt .w1{width:415px;}
.pay_bt .w2{width:120px;}
.pay_bt .w3{width:85px;}
.pay_bt .w4{width:120px;}

.product_2 table td{padding:10px 0;}
.product_2 .p1{width:40px;text-align:center;font-size:16px;font-family:Arial;color:#bbb;font-weight:bold;}
.product_2 .p2{width:390px;padding:8px 10px;font-size:14px;}
.product_2 .p2 a{color:#478DCD;}
.product_2 .p2 a:hover{text-decoration:none;color:#FF6600;}
.product_2 .p3{width:90px;padding-left:10px;}
.product_2 .p4{text-align:center;width:100px;}
.product_2 .p5{width:110px;padding-left:10px;font-size:18px;color:#FF0000;font-weight:bold;font-family:Arial;}
.product_2 .p7{width:50px;font-size:12px;font-family:Arial;color:#bababa;padding-left:22px;}
.product_2 .p6{text-align:center;color:#999;font-size:18px;font-family:Arial;padding:0 15px;}
.product_2 .sj{padding:0 10px 0 0;}
.product_2 table{border:#ddd solid 1px;}

.tixing{border:#FFC16D solid 1px;margin-top:15px;height:30px;line-height:30px;padding-left:30px;background:#FFFFDF url(/FrontEnd/images20090801/newmypanli/tixing.gif) no-repeat 10px 7px;}
.yuer{float:left;font-size:14px;}
.yuer b{font-family:Arial;color:#FF0000;margin-right:20px;}
.yuer a{color:#488ECE;}
.yuer a:hover{color:#FF0000;text-decoration:none;}
.payment{margin-top:20px; border:solid 1px #fff;}
.pxx_gg{width:350px;border:1px #fca700 solid;float:right;background-color:#ffebcc;}
.pxx_nrb{width:344px;background-color:#fff;margin:3px;}
.pxx_nrb p{text-align:right;padding:0 6px 10px 0;font-size:14px;color:#f00;}
.pxx_gg dl{text-align:right;font-size:14px;padding:10px 10px 10px 0;}
.pxx_gg dl dt{height:30px;}
.pxx_gg dl dt span{color:#FF9900;}
.pxx_gg dl dd span{color:#f00;font-size:22px;font-family:Arial;font-weight:bold;}

.tijiao{padding-bottom:20px;float:right;}
.tijiao input{margin:0px;background:url(/FrontEnd/images20090801/button/anniu_6.gif) no-repeat 0 bottom;width:139px;border:none;line-height:32px;padding-bottom:11px;font-size:14px;color:#FFF;height:36px; +margin-top:-1px;}
.tijiao .ok,.tijiao .ok_{background:url(/FrontEnd/images20090801/button/anniu_6.gif) no-repeat 0 0;cursor:pointer;}
.tijiao .ok_{background-position:0 -36px;}
.tijiao a{font-size:14px;color:#5C9ED2;float:left;margin:10px 30px 0 600px;display:inline;padding-left:20px;background:url(/FrontEnd/images20090801/newmypanli/fanhui.gif) no-repeat left;}
.tijiao a:hover{text-decoration:none;color:#F00;}

.beizhu{display:inline;float:left;width:0px;height:160px;background:#EEF5FD;border:#599ED5 solid 1px;position:absolute;margin:-41px -500px -500px -12px;}
.beizhu .bzbox{overflow:hidden;width:270px;float:left;}
.if input{float:left;}
.if label{line-height:22px;}
.if{height:30px;padding:10px 0 0 10px}
.beizhu textarea{border:#BADBEA solid 1px;height:65px;width:249px;margin:0 0 0 12px;padding:3px;font-size:12px}
.beizhu .hui{background:#f0f0f0;border:#ccc solid 1px;color:#bbb}
.beizhu dl{margin:10px 0 0 12px;display:inline;float:left}
.beizhu dl dt{float:left;margin-right:10px;display:inline;}
.beizhu dl dd{float:left;}
.beizhu dl dt input{background:#FF8729;color:#fff;border:#E25D1B solid 1px;height:22px;width:50px;cursor:pointer;}
.beizhu dl dd input{background:#aaa;color:#fff;border:#888 solid 1px;height:22px;width:50px;cursor:pointer;}
.beizhu img{float:right;position:relative;margin:43px -7px 0 0;}
.b8 .orange{color:#FF9900;}

.nought{height:320px;margin-left:230px;font-family:"simsun";}
.nought h2{font-size:20px;color:#333;padding:80px 0 0 0;height:60px;}
.zhong{padding-bottom:70px;}
.zhong p{font-size:14px;color:#999;padding-left:3px;line-height:25px;}
.zhong a{color:#599ed5;}
.zhong a:hover{color:#F00;text-decoration:none;}
.ti{padding-left:25px;font-size:14px;background:url(/FrontEnd/images20090801/tanhao.gif) no-repeat 5px;}

.foot{height:60px;margin:auto;width:958px;text-align:center;padding-top:22px;color:#999;clear:both;background:url(/FrontEnd/images20090801/newmypanli/cart_yj.gif) no-repeat -960px top;margin-top:-1px;}.foot a{color:#999}.foot a:hover{color:#F60}.foot p{margin-bottom:8px;}


.vip_tishi{background:#e4f7df;border:1px solid #8dcc84;width:886px;margin-left:35px;height:30px;}
.vip_tishi p{line-height:30px;margin-left:15px;color:#333;}
.vip_tishi a{color:#71a8cf;}
.vip_tishi a:hover{color:#ff6600;text-decoration:none;}



.gx_dao{float:right;}
.gx_dao em {float:left;font-style:normal;}
.g_nav{background:url(/FrontEnd/images20090801/newmypanli/gx_nav.gif) no-repeat 0 0;height:25px;width:80px;float:left;margin-left:5px;line-height:25px;color:#999;text-decoration:none;padding:0 0 0 5px;}
.g_nav_{background:url(/FrontEnd/images20090801/newmypanli/gx_nav.gif) no-repeat 0 -25px;}
.g_nav s{margin:8px 0 0 5px;border-style:solid;border-width:4px 4px;font-size:0;height:0;line-height:0;position:absolute;width:0;border-color:#999 #fff #fff #fff; transparent transparent;_border-color:#999 #fff #fff #fff;-webkit-transition:-webkit-transform .2s ease-in;-webkit-backface-visibility:hidden;-moz-transition:-moz-transform .2s ease-in;-o-transition:-o-transform .2s ease-in;transition:transform .2s ease-in;}
.g_nav_ s{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}
.gx_ny{float:left;position:relative;margin-right:-10000px;}
.gx_lb{position:absolute;top:23px;left:-85px;border:1px solid #ddd;background:#FAFFEC;width:78px;}
.gx_lb li a{color:#999;text-decoration:none;display:block;padding-left:5px;border-bottom:#e3e3e3 solid 1px;height:24px;line-height:24px;}
.gx_lb li a:hover {background:#999;color:#fff;}


.fast_daigou1{background:url(/FrontEnd/images20090801/Gobal/seekbg.jpg) repeat-x 0 0;height:39px;width:451px;float:right;margin:0px 10px 0 0;display:inline;} 
.fast_daigou1 label{float:left; text-align:right;line-height:35px; width:50px;margin:2px 0 0 2px;display:inline;color:#000; background-color:#FFF; height:35px;}
.fast_wz,.fast_wz_{background:none;border:0;color:#000; font-family: "Arial"; background: url(/FrontEnd/images20090801/Gobal/topbottonbg.gif) no-repeat 50px 7px #fff; height:33px; line-height:33px;font-size:14px; width:331px;float:left; margin:2px 0 0 2px; padding-left:13px;}
.fast_wz_{font-weight:100;color:#f00;}
.but1{width:100px;float:left;margin:2px 0 0 2px;display:inline; overflow:hidden;}
.but1 a{background:url(/FrontEnd/images20090801/Gobal/seekc.jpg) no-repeat 0 -35px;color:#6ab236;width:92px;height:35px;float:left;display:inline;font-size:14px;text-decoration:none;line-height:35px;overflow:hidden;display:inline;text-align:center; margin-right:2px;}
.but1 .diygo1{color:#FFF; background-position:-92px -35px; width:100px;}
.but1 .diygo1:hover{background-position:-92px 0;}

.gx_jdtx{padding:30px 0 0 35px;color:#666;}
.gx_jdtx p{float:left;height:30px;line-height:30px;}
.gxx_jg{float:right;padding-right:35px;height:30px;line-height:30px;}
.gxx_jg i{font-style:normal;}
.gxx_jg .on,.gxx_jg .on_{background:url(/FrontEnd/images20090801/button/70an.gif) no-repeat 0 -30px;width:70px;height:30px;float:left;line-height:30px;color:#fff;text-decoration:none;margin-left:10px;border: none;cursor: pointer;}
.gxx_jg .on_{background-position:0 0;}
.gxx_jg span{font-size:16px;font-weight:bold;color:#F00;}



.jisuan{margin-top:10px;padding-bottom:30px;}
.gxx_sc{border:1px solid #ddd;padding:6px 0;border-bottom:none;}
.gxx_sc a{float:left;height:30px;line-height:30px;color:#71a8cf;padding-left:20px;}
.gxx_sc a:hover{color:#f00;text-decoration:none;}
.gxx_js{float:right;}
.gxx_js p{float:left;height:30px;line-height:30px;}
.gxx_js span{font-weight:bold;color:#F00;}
.gxx_js a{float:left;height:30px;line-height:30px;color:#71a8cf;padding:0 20px 0 20px;}
.gxx_js a:hover{color:#f00;text-decoration:none;}


.gxx_sc2{border:1px solid #ddd;padding:10px 0;background:#f5f5f5;}
.gxx_js2{float:right;padding-right:12px;padding-top:3px;}
.gxx_js2 p{float:left;height:25px;line-height:25px;font-size:16px;font-weight:bold;padding-top:5px;}
.gxx_js2 span{color:#F00;font-size:18px;}
.gxx_js2 a{float:left;height:30px;line-height:30px;color:#71a8cf;padding:0 20px 0 20px;}
.gxx_js2 a:hover{color:#f00;text-decoration:none;}
.gxx_js2 .in,.gxx_js2 .in_{background:url(/FrontEnd/images20090801/button/anniu_5.gif) no-repeat 0 0;border:none;width:139px;color:#FFF;font-size:14px;cursor:pointer;height:35px;margin-left:30px;line-height:35px;}
.gxx_js2 .in_{background-position:0 -36px;}

.gxx_sc2 ul{margin:6px 0 0 10px;color:#666;float:left;width:400px;}
.gxx_sc2 li{height:30px;float:left;line-height:24px;margin-right:10px;display:inline;}
.gxx_sc2 li span{color:#599ed5;margin:0 5px;}
.gxx_sc2 li a{color:#599ed5}
.gxx_sc2 li a:hover{color:#FF6600;text-decoration:none;}
.gxx_sc2 input{background:url(/FrontEnd/images20090801/newmypanli/chaozuo.gif) no-repeat;border:none;cursor:pointer;height:26px;margin-right:5px;}
.gxx_sc2 .sc,.gxx_sc2 .sc_{width:59px;background-position:0 0;}
.gxx_sc2 .tj,.gxx_sc2 .tj_{width:118px;background-position:-71px 0;}
.gxx_sc2 .sc_{background-position:0 bottom;}
.gxx_sc2 .tj_{background-position:-71px bottom;}


.gwcxx_jy{z-index:150;position:fixed;top:300px;left:435px;width:25px;background:url(/FrontEnd/images20090801/newmypanli/gwcjy.gif) no-repeat 0 0;height:130px;float:left;}
.gwcxx_jy .in_kf{width:18px;color:#FFF;text-decoration:none;float:left;padding:7px 0 0 7px;height:120px;}
.gwcxx_jy .in_kf:hover{background:url(/FrontEnd/images20090801/newmypanli/gwcjy.gif) no-repeat 0 -131px;}

.ffxx_fu{position: fixed;bottom: 0;z-index: 89;width:888px;}

.am_payment{padding-top:10px;float:right;}
.am_payment input{width:150px;background:white;border:#BADBEA solid 1px;padding:5px 5px 5px 5px;float:left;}
.am_payment p{font-size:14px;float:left;padding-top:5px;}
.am_payment a{color:#71a8cf;text-decoration:none;padding-left:5px;float:left;padding-top:8px;}
.am_payment a:hover{color:#f00;text-decoration:underline;}

*/


/*----*/


body{font-size:12px;margin:0;padding:0;font-family:Verdana, Arial, Helvetica, sans-serif;background:#F2F2F2;}p,h1,h2,h3,h4,h5,li,ul,dd,dt,dl,form{margin:0;padding:0;}img{border:none;}ul li{list-style:none;}

.top{height:100px;margin-bottom:15px;border-bottom:#ff9900 solid 2px;background:#FFFFFF}
.kj{margin:auto;width:950px;height:80px;}
.logo{width:400px;float:left;margin:10px -50px 0 0;}
.logo a{float:left;}
.logo p{float:left;border-left:#eee solid 2px;padding:0 0 0 12px;margin-left:13px;display:inline;height:63px;}
.logo p img{margin-top:13px;}

.mypanli{float:right;color:#999;font-family:"simsun";margin-top:10px;width:590px;}
.my_dn li{float:left;height:30px;}
.my_dn li a{color:#999;margin:0 7px;float:left;display:inline;padding-top:2px;}
.my_dn li a:hover,.mypanli p a:hover{color:#F60;text-decoration:none}
.mypanli p a{color:#999;text-decoration:none}
.my_dn ul{float:right;padding-top:2px;}
.mypanli p{float:right;margin:5px 0 0 0;display:inline;}
.gouwu{background:url(/FrontEnd/images20090801/gwc.gif) no-repeat left;padding-left:23px;}

.tishi{color:#ECCC00;font-size:12px;float:right;margin:15px 0 0 0;display:inline;width:500px;text-align:right}
.tishi span{background:#ECCC00;color:#FFF;padding:1px 2px;margin:0 1px;}

.weizhi{background:url(/FrontEnd/images20090801/newmypanli/cart_yj.gif) no-repeat 0 top;font-size:14px;padding:20px 0 0 30px;color:#999;height:25px;}
.weizhi span{margin:0 5px;}
.weizhi a{color:#599ED5;}
.weizhi a:hover{text-decoration:none;color:#FF6600}
.center{width:958px;margin:auto;background:url(/FrontEnd/images20090801/newmypanli/cart_yj.gif) repeat-y -1920px;padding-bottom:20px;}

.lc_two{background:url(/FrontEnd/images20090801/newmypanli/circuit3.gif) no-repeat bottom; height:65px;width:888px;margin:auto;}
.lc_two2{background:url(/FrontEnd/images20090801/newmypanli/circuit2.gif) no-repeat bottom; height:65px;width:888px;margin:auto;}
.lc_two img{margin-left:257px;}

.bt{background:#b7b7b7 url(/FrontEnd/images20090801/newmypanli/bt2.gif) no-repeat top;height:34px;width:888px;margin:10px 0 0 35px;font-size:14px;color:#FFF;}
.yunfei{font-size:12px;color:#CC3300;position:relative;background:url(/FrontEnd/images20090801/newmypanli/yunfei.gif) no-repeat;height:40px;width:290px;margin:-33px -200px -500px -127px;float:left;display:none;}
.yunfei p{padding-left:10px;float:left;margin:0px 0 0 0;line-height:30px;}
.yunfei button{background:url(/FrontEnd/images20090801/newmypanli/clo.gif) no-repeat center;height:15px;width:15px;border:none;cursor:pointer;float:right;display:inline;margin:5px 5px 0 0;}

/*.bt ul{margin-left:50px;}*/
.bt li{float:left;line-height:34px;}
.bt .w1{width:375px;}
.bt .w2{width:90px;}
.bt .w3{width:100px;}
.bt .w4{width:110px;}
.bt .w5{width:105px;}
.bt .w6{width:40px; text-align:center; padding-right:10px;}
.w5 a{float:right;height:16px;width:16px;background:url(/FrontEnd/images20090801/newmypanli/wen2.gif) no-repeat;margin:8px 30px 0 0;}
.w5 span{float:left;}
.product,.product_2{width:888px;margin:0 0 0 35px;}
.product table,.product_2 table{width:100%;border:#ddd solid 1px;margin-top:12px;border-collapse:collapse;}
.product table td,.product_2 table td{padding:0;margin:0;border:#ddd solid 1px;}
.pic{float:left;}

.b2 a{display:table-cell;vertical-align:middle;text-align:center;border:1px solid #DDDDDD;padding:1px;height:40px;width:40px;font-family:Arial;*display:block;*font-size:35px;}
.b2 img{height:40px;width:40px;vertical-align:middle;}

.b3 a,.b8 a{font-size:14px;color:#599ED5;cursor:pointer;text-decoration:underline;}
.b3 a:hover,.b8 a:hover{color:#FF6600;text-decoration:none;}
.b4 input{border:#BADBEA solid 1px;padding:3px;width:40px;font-size:18px;font-weight:bold;float:left;}
.b5 input{border:#BADBEA solid 1px;padding:3px;width:40px;font-size:18px;font-weight:bold;float:left;}
.b5 a{cursor:pointer;float:left;height:11px;width:11px;background:url(/FrontEnd/images20090801/newmypanli/jiajian.gif) no-repeat;margin:10px 5px 0 5px;overflow:hidden;}
.b5 .jian{background-position:left top;}
.b5 .jia{background-position:right top;}
.b5 .jian:hover{background-position:left -12px;}
.b5 .jia:hover{background-position:right -12px;}



.b1{width:40px;text-align:center}
.product table .b2{border-right:none;padding:7px;width:50px;}
.product table .b3{border-left:none;width:295px;padding-right:10px;line-height:22px;}
.product table .b4{width:110px;padding-left:10px; color:#f90; font-weight:900;}
.product table .b4 s{ color:#999; font-size:12px; font-weight:normal;}
.product table .b4 b{ display:block; height:18px; line-height:18px; padding-bottom:5px;  }
.product table .b4 em{ float:left; display:inline; width:18px; height:18px; margin-right:5px; background:no-repeat -6px -2px; border-radius: 2px; }
.product table .b4 em.vip1{background-image:url(http://sf.panli.com/FrontEnd/images20090801/newmypanli/index/jinkyh.gif); background-position:-10px -2px; }
.product table .b4 em.vip2{background-image:url(http://sf.panli.com/FrontEnd/images20090801/newmypanli/index/baijinyh.gif);}
.product table .b4 em.vip3{background-image:url(http://sf.panli.com/FrontEnd/images20090801/newmypanli/index/zuanshiyh.gif);}
.product table .b4 em.vip4{background-image:url(http://sf.panli.com/FrontEnd/images20090801/newmypanli/index/huangguan.gif);}
.product table .b4 em.vip5{background-image:url(http://sf.panli.com/FrontEnd/images20090801/newmypanli/index/jinguan.gif);}
.product table .b5{width:95px;padding-left:5px;}
.product table .b6{width:105px;color:#FF0000;font-size:18px;padding-left:5px;}
.product table .b7{padding-left:10px;font-size:14px;}
.product table .b8{padding-left:10px;width:70px;}
.product .sj,.product_2 .sj{background:#f5f5f5;height:25px;text-align:right;padding-right:10px;color:#999;}
.sj span{margin-left:20px;}
.sj a{color:#999;}
.sj a:hover{text-decoration:none;color:#FF0000}

.pay_bt{background:#b7b7b7 url(/FrontEnd/images20090801/newmypanli/bt2.gif) no-repeat top;height:34px;width:888px;margin:30px 0 0 35px;font-size:14px;color:#FFF;}
.pay_bt ul{margin-left:50px;}
.pay_bt li{float:left;line-height:34px;}
.pay_bt .w1{width:415px;}
.pay_bt .w2{width:120px;}
.pay_bt .w3{width:85px;}
.pay_bt .w4{width:120px;}

.product_2 table td{padding:10px 0;}
.product_2 .p1{width:40px;text-align:center;font-size:16px;font-family:Arial;color:#bbb;font-weight:bold;}
.product_2 .p2{width:390px;padding:8px 10px;font-size:14px;}
.product_2 .p2 a{color:#478DCD;}
.product_2 .p2 a:hover{text-decoration:none;color:#FF6600;}
.product_2 .p3{width:90px;padding-left:10px;}
.product_2 .p4{text-align:center;width:100px;}
.product_2 .p5{width:110px;padding-left:10px;font-size:18px;color:#FF0000;font-weight:bold;font-family:Arial;}
.product_2 .p7{width:50px;font-size:12px;font-family:Arial;color:#bababa;padding-left:22px;}
.product_2 .p6{text-align:center;color:#999;font-size:18px;font-family:Arial;padding:0 15px;}
.product_2 .sj{padding:0 10px 0 0;}
.product_2 table{border:#ddd solid 1px;}

.tixing{border:#FFC16D solid 1px;margin-top:15px;height:30px;line-height:30px;padding-left:30px;background:#FFFFDF url(/FrontEnd/images20090801/newmypanli/tixing.gif) no-repeat 10px 7px;}
.yuer{float:left;font-size:14px;}
.yuer b{font-family:Arial;color:#FF0000;margin-right:20px;}
.yuer a{color:#488ECE;}
.yuer a:hover{color:#FF0000;text-decoration:none;}
.payment{margin-top:20px; border:solid 1px #fff;}
.pxx_gg{width:350px;border:1px #fca700 solid;float:right;background-color:#ffebcc;}
.pxx_nrb{width:344px;background-color:#fff;margin:3px;}
.pxx_nrb p{text-align:right;padding:0 6px 10px 0;font-size:14px;color:#f00;}
.pxx_gg dl{text-align:right;font-size:14px;padding:10px 10px 10px 0;}
.pxx_gg dl dt{height:30px;}
.pxx_gg dl dt span{color:#FF9900;}
.pxx_gg dl dd span{color:#f00;font-size:22px;font-family:Arial;font-weight:bold;}

.tijiao{padding-bottom:20px;float:right;}
.tijiao input{margin:0px;background:url(/FrontEnd/images20090801/button/anniu_6.gif) no-repeat 0 bottom;width:139px;border:none;line-height:32px;padding-bottom:11px;font-size:14px;color:#FFF;height:36px; +margin-top:-1px;}
.tijiao .ok,.tijiao .ok_{background:url(/FrontEnd/images20090801/button/anniu_6.gif) no-repeat 0 0;cursor:pointer;}
.tijiao .ok_{background-position:0 -36px;}
.tijiao a{font-size:14px;color:#5C9ED2;float:left;margin:10px 30px 0 600px;display:inline;padding-left:20px;background:url(/FrontEnd/images20090801/newmypanli/fanhui.gif) no-repeat left;}
.tijiao a:hover{text-decoration:none;color:#F00;}

.beizhu{display:inline;float:left;width:0px;height:160px;background:#EEF5FD;border:#599ED5 solid 1px;position:absolute;margin:-41px -500px -500px -12px;}
.beizhu .bzbox{overflow:hidden;width:270px;float:left;}
.if input{float:left;}
.if label{line-height:22px;}
.if{height:30px;padding:10px 0 0 10px}
.beizhu textarea{border:#BADBEA solid 1px;height:65px;width:249px;margin:0 0 0 12px;padding:3px;font-size:12px}
.beizhu .hui{background:#f0f0f0;border:#ccc solid 1px;color:#bbb}
.beizhu dl{margin:10px 0 0 12px;display:inline;float:left}
.beizhu dl dt{float:left;margin-right:10px;display:inline;}
.beizhu dl dd{float:left;}
.beizhu dl dt input{background:#FF8729;color:#fff;border:#E25D1B solid 1px;height:22px;width:50px;cursor:pointer;}
.beizhu dl dd input{background:#aaa;color:#fff;border:#888 solid 1px;height:22px;width:50px;cursor:pointer;}
.beizhu img{float:right;position:relative;margin:43px -7px 0 0;}
.b8 .orange{color:#FF9900;}

.b8 .a_dsc{font-size:12px;color:#999;text-decoration:none;padding-left:5px;height:35px;line-height:35px;}
.nought{height:320px;margin-left:230px;font-family:"simsun";}
.nought h2{font-size:20px;color:#333;padding:80px 0 0 0;height:60px;}
.zhong{padding-bottom:70px;}
.zhong p{font-size:14px;color:#999;padding-left:3px;line-height:25px;}
.zhong a{color:#599ed5;}
.zhong a:hover{color:#F00;text-decoration:none;}
.ti{padding-left:25px;font-size:14px;background:url(/FrontEnd/images20090801/tanhao.gif) no-repeat 5px;}

.foot{height:60px;margin:auto;width:958px;text-align:center;padding-top:22px;color:#999;clear:both;background:url(/FrontEnd/images20090801/newmypanli/cart_yj.gif) no-repeat -960px top;margin-top:-1px;}.foot a{color:#999}.foot a:hover{color:#F60}.foot p{margin-bottom:8px;}


.vip_tishi{background:#e4f7df;border:1px solid #8dcc84;width:886px;margin-left:35px;height:30px;}
.vip_tishi p{line-height:30px;margin-left:15px;color:#333;}
.vip_tishi a{color:#71a8cf;}
.vip_tishi a:hover{color:#ff6600;text-decoration:none;}

.gx_dao{float:right;}
.gx_dao em {float:left;font-style:normal;}
.g_nav{background:url(/FrontEnd/images20090801/newmypanli/gx_nav.gif) no-repeat 0 0;height:25px;width:80px;float:left;margin-left:5px;line-height:25px;color:#999;text-decoration:none;padding:0 0 0 5px;}
.g_nav_{background:url(/FrontEnd/images20090801/newmypanli/gx_nav.gif) no-repeat 0 -25px;height:25px;width:80px;float:left;margin-left:5px;line-height:25px;color:#999;text-decoration:none;padding:0 0 0 5px;}
.gx_ny{float:left;position:relative;margin-right:-10000px;}
.gx_lb{position:absolute;top:23px;left:-85px;border:1px solid #ddd;background:#FAFFEC;width:78px;}
.gx_lb li a{color:#999;text-decoration:none;display:block;padding-left:5px;border-bottom:#e3e3e3 solid 1px;height:24px;line-height:24px;}
.gx_lb li a:hover {background:#999;color:#fff;}


.fast_daigou1{background:url(/FrontEnd/images20090801/Gobal/seekbg.jpg) repeat-x 0 0;height:39px;width:451px;float:right;margin:0px 10px 0 0;display:inline;} 
.fast_daigou1 label{float:left; text-align:right;line-height:35px; width:50px;margin:2px 0 0 2px;display:inline;color:#000; background-color:#FFF; height:35px;}
.fast_wz,.fast_wz_{background:none;border:0;color:#000; font-family: "Arial"; background: url(/FrontEnd/images20090801/Gobal/topbottonbg.gif) no-repeat 50px 7px #fff; height:33px; line-height:33px;font-size:14px; width:331px;float:left; margin:2px 0 0 2px; padding-left:13px;}
.fast_wz_{font-weight:100;color:#f00;}
.but1{width:100px;float:left;margin:2px 0 0 2px;display:inline; overflow:hidden;}
.but1 a{background:url(/FrontEnd/images20090801/Gobal/seekc.jpg) no-repeat 0 -35px;color:#6ab236;width:92px;height:35px;float:left;display:inline;font-size:14px;text-decoration:none;line-height:35px;overflow:hidden;display:inline;text-align:center; margin-right:2px;}
.but1 .diygo1{color:#FFF; background-position:-92px -35px; width:100px;}
.but1 .diygo1:hover{background-position:-92px 0;}

.gx_jdtx{padding:30px 0 0 35px;color:#666;}
.gx_jdtx p{float:left;height:30px;line-height:30px;}
.gxx_jg{float:right;padding-right:35px;height:30px;line-height:30px;}
.gxx_jg i{font-style:normal;}
.gxx_jg .on,.gxx_jg .on_{background:url(/FrontEnd/images20090801/button/70an.gif) no-repeat 0 -30px;width:70px;height:30px;float:left;line-height:30px;color:#fff;text-decoration:none;margin-left:10px;border: none;cursor: pointer;}
.gxx_jg .on_{background-position:0 0;}
.gxx_jg span{font-size:16px;font-weight:bold;color:#F00;}

.gxx_jg .on,.gxx_jg .on_{background:url(/FrontEnd/images20090801/button/70an.gif) no-repeat 0 -30px;width:70px;height:30px;float:left;line-height:30px;color:#fff;text-decoration:none;margin-left:10px;border: none;cursor: pointer;}
.gxx_jg .on_{background-position:0 0;}

.jisuan{margin-top:10px;padding-bottom:30px;}
.gxx_sc{border:1px solid #ddd;padding:6px 0;}
.gxx_sc a{float:left;height:30px;line-height:30px;color:#71a8cf;padding-left:20px;}
.gxx_sc a:hover{color:#f00;text-decoration:none;}
.gxx_js{float:right;}
.gxx_js p{float:left;height:30px;line-height:30px;}
.gxx_js span{font-weight:bold;color:#F00;}
.gxx_js a{float:left;height:30px;line-height:30px;color:#71a8cf;padding:0 20px 0 20px;}
.gxx_js a:hover{color:#f00;text-decoration:none;}


.gxx_sc2{border:1px solid #ddd;padding:10px 0;background:#f5f5f5;}
.gxx_js2{float:right;padding-right:12px;padding-top:3px;}
.gxx_js2 p{float:left;height:25px;line-height:25px;font-size:16px;font-weight:bold;padding-top:5px;}
.gxx_js2 span{color:#F00;font-size:18px;}
.gxx_js2 a{float:left;height:30px;line-height:30px;color:#71a8cf;padding:0 20px 0 20px;}
.gxx_js2 a:hover{color:#f00;text-decoration:none;}
.gxx_js2 .in,.gxx_js2 .in_{background:url(/FrontEnd/images20090801/button/anniu_5.gif) no-repeat 0 0;border:none;width:139px;color:#FFF;font-size:14px;cursor:pointer;height:35px;margin-left:30px;line-height:35px;}
.gxx_js2 .in_{background-position:0 -36px;}

.gxx_sc2 ul{margin:6px 0 0 10px;color:#666;float:left;width:400px;}
.gxx_sc2 li{height:30px;float:left;line-height:24px;margin-right:10px;display:inline;}
.gxx_sc2 li span{color:#599ed5;margin:0 5px;}
.gxx_sc2 li a{color:#599ed5}
.gxx_sc2 li a:hover{color:#FF6600;text-decoration:none;}
.gxx_sc2 input{background:url(/FrontEnd/images20090801/newmypanli/chaozuo.gif) no-repeat;border:none;cursor:pointer;height:26px;margin-right:5px;}
.gxx_sc2 .sc,.gxx_sc2 .sc_{width:59px;background-position:0 0;}
.gxx_sc2 .tj,.gxx_sc2 .tj_{width:118px;background-position:-71px 0;}
.gxx_sc2 .sc_{background-position:0 bottom;}
.gxx_sc2 .tj_{background-position:-71px bottom;}


.gwcxx_jy{z-index:150;position:fixed;top:300px;left:435px;width:25px;background:url(/FrontEnd/images20090801/newmypanli/gwcjy.gif) no-repeat 0 0;height:130px;float:left;}
.gwcxx_jy .in_kf{width:18px;color:#FFF;text-decoration:none;float:left;padding:7px 0 0 7px;height:120px;}
.gwcxx_jy .in_kf:hover{background:url(/FrontEnd/images20090801/newmypanli/gwcjy.gif) no-repeat 0 -131px;}

.ffxx_fu{position: fixed;bottom: 0;z-index: 89;width:888px;}
.a_beiz{background:url(/FrontEnd/images20090801/sku/beiz.gif) no-repeat 0 0;width:26px;height:26px;float:left;}
.a_beiz:hover{background-position:0 -28px;}
.a_bbz{position:absolute;background:#f3ffe9;border:#91d25c solid 1px;padding:10px;width:185px;line-height:20px;color:#939393;top:28px;left:-180px;font-family:Arial;}

.am_payment{padding-top:10px;float:right;padding-bottom:10px;}
.am_payment input{width:150px;background:white;border:#BADBEA solid 1px;padding:5px 5px 5px 5px;color:#f00;float:left;}
.am_payment .a_red{border:#f00 solid 1px;}
.am_payment p{font-size:14px;float:left;padding-top:5px;}
.am_payment a{color:#71a8cf;text-decoration:none;padding-left:5px;float:left;padding-top:8px;}
.am_payment a:hover{color:#f00;text-decoration:underline;}

 