body{ margin:0 auto;}
.frame{ width:950px;height:auto;font-family:Verdana,Arial, Helvetica, sans-serif;margin:0 auto;text-align:center;}
p, h1, h2, h3, h4, h5, ul,li,  dl, dt, dd, b,div,img{ list-style-type:none; margin:0px; padding:0px; border:0px; font-weight:normal;}
ul,li{list-style-type:none;}
img{vertical-align:top;}
a,area{outline: none;blr:expression(this.onFocus=this.blur());}/*For IE*/
:focus{-moz-outline-style:none;}/*For Firefox*/

.frame li{ width:950px;position:relative;}
.link{width:220px;height:40px;left:260px;top:33px;position:absolute;}
.link a{width:220px; height:40px; display:block; background:url(/FrontEnd/images20090801/Special/20121122/beizhan/merry_button_03.gif) no-repeat top;}
.link1 a:hover{ background-position:bottom;}
.link1{width:270px;height:40px;left:340px;top:3px;position:absolute;}
.link1 a{width:270px; height:40px; display:block; background:url(/FrontEnd/images20090801/Special/20121122/beizhan//merry_button_07.gif) no-repeat top;}
.link a:hover{ background-position:bottom;}

/*ÀñÆ·*/
.merry_back{ background:url(/FrontEnd/images20090801/Special/20121122/beizhan//merry_img_12.jpg) repeat-y; width:750px;padding:0 100px;overflow:hidden;}
*html .merry_back{ background:url(/FrontEnd/images20090801/Special/20121122/beizhan//merry_banner_14.jpg) repeat-y; width:750px;padding:0 100px;overflow:visible;}
.merry_back li{ width:198px;float:left; margin:20px 24px;display:inline; text-align:center;}
.merry_back li span{display:block; margin-top:20px;}
/*.lipin{ clear:both; text-align:right; padding-top:10px; *padding-top:5px;}*/