 h1, h2, h3, h4, h5, li, ul, dl, dt, dd, b,img,div{ list-style-type:none; margin:0px; padding:0px; border:0px; font-weight:normal; }

.bannertop{ width:950px;height:50px;padding:0px;margin:auto;text-align:center;}
.bannertop2{ width:950px;height:56px;padding:0px;margin:auto;text-align:center;}
.bottombg{ width:950px;height:93px;padding:0px;margin:auto;text-align:center; margin-bottom:5px;}

.contentmain{width:950px;height:auto; display:block;margin:0px auto; text-align:center;font-family:Arial, Helvetica, sans-serif;}
.leftmain{width:48px; height:710px; float:left;margin:0px; background:url(/FrontEnd/images20090801/special/20110121/leftbg.gif) repeat-y}
.rightmain{width:48px; height:710px; float:right;margin:0px;background:url(/FrontEnd/images20090801/special/20110121/rightbg.gif) repeat-y}
.mainall{width:854px; height:710px; background-color:#fffee5;float:left;}
.mmiddle{width:854px;height:540px;margin:0px auto; }
.maintop{ width:854px; height:25px;margin:0px auto; }
.mainbottom{ width:854px; height:21px;margin:0px auto; clear:both; }
.jouleft{ width:24px;height:540px; float:left; background: url(/FrontEnd/images20090801/special/20110121/jou_left.gif) repeat-y}
.assright{ width:28px;height:540px; float:right; background: url(/FrontEnd/images20090801/special/20110121/ass_right.gif) repeat-y}
.allok{ width:59px;height:540px; float:left; background: url(/FrontEnd/images20090801/special/20110121/all_kuang.gif) repeat-y}
.leftm{ width:314px;height:540px;float:left; background:#ffffff; }
.leftm ul{ margin:0px;}
.leftm h3{ width:314px; height:55px;margin:2px 0px 12px 0px;_margin:2px 0px 12px 0px;}
.lili01,.lili02,.lili03,.lili04,.lili05,.lili06,.lili07{width:314px; height:51px;margin:0px 0px 9px 0px;_margin:0px 0px 9px 0px; }
.lili08{width:314px; height:51px;margin:0px }
.lili01 a,.lili02 a,.lili03 a,.lili04 a,.lili05 a,.lili06 a,.lili07 a,.lili08 a{ width:312px; height:49px; border:1px dashed #b2b2b2;  display:block; }
.lili01 a{ background:url(/FrontEnd/images20090801/special/20110121/bz01.gif) no-repeat top; }
.lili02 a{ background:url(/FrontEnd/images20090801/special/20110121/bz02.gif) no-repeat top; }
.lili03 a{ background:url(/FrontEnd/images20090801/special/20110121/bz03.gif) no-repeat top; }
.lili04 a{ background:url(/FrontEnd/images20090801/special/20110121/bz04.gif) no-repeat top; }
.lili05 a{ background:url(/FrontEnd/images20090801/special/20110121/bz05.gif) no-repeat top; }
.lili06 a{ background:url(/FrontEnd/images20090801/special/20110121/bz06.gif) no-repeat top; }
.lili07 a{ background:url(/FrontEnd/images20090801/special/20110121/bz07.gif) no-repeat top; }
.lili08 a{ background:url(/FrontEnd/images20090801/special/20110121/bz08.gif) no-repeat top; }
.lili01 a:hover,.lili02 a:hover,.lili03 a:hover,.lili04 a:hover,.lili05 a:hover,.lili06 a:hover,.lili07 a:hover,.lili08 a:hover{ background-position:bottom;border:1px dashed #ffa4a4;}
.rightm{ width:429px;height:540px;float:left;background:#ffffff; color:#5e5e5e; font-size:14px; }
.rightm p{ width:429px; line-height:30px; margin:0px; text-align:left;}
.rightm p span{ color:#fe0006;}
.pbig{ font-size:16px; font-weight:bold; line-height:25px;}
.rightm h3{width:429px; height:45px;margin:2px 0px 15px 0px;;_margin:5px 0px 10px 0px;}
.rightm ul{margin:0px;}
.rightm ul li{ line-height:25px;text-align:left;}
.rightm ul li a{ color:#1199cc; text-decoration:underline;}
.rightm ul li a:hover{color:#fe0006;text-decoration:underline;}
.rightm ul li b{ font-weight:bold;}
.kapianli{ text-indent:30px; width:429px; clear:both; }
.lb{ text-align:left; width:95px; float:left;  margin:0px; padding:0px;font-weight:bold;}
.rb{display:inline;margin:0px;font-weight:bold; }
.rb span{ padding-left:20px; color:#fe0006;}
#specilli{ text-align:center;color:#9d9d9d; margin-top:10px;}
.loginbtn{ width:392px; height:58px; margin:40px auto auto auto; text-align:center;}
.clear{ clear:both;}



