
.succeed{width:170px;margin:50px auto 50px auto;background:#fbffdf url(/FrontEnd/images20090801/Wap/succeed.gif) no-repeat 20px 30px;border:#ffc55f solid 1px;padding:30px 10px 30px 70px;}
.succeed p{font-size:14px;line-height:24px;padding-bottom:15px;color:#090;}
.succeed span{font-size:12px;line-height:22px;}
.succeed a{color:#71a8cf;}
.succeed a:hover{color:#f00;text-decoration:none;}


