.box{float:right;width:740px;margin:15px 20px 0 0;display:inline;padding-bottom:20px;}
.nav_tg li{float:left;width:133px;margin-right:5px;display:inline;}
.nav_tg{border-bottom:#A5CC33 solid 2px;height:30px;}
.nav_tg li a{text-align:center;color:#FFF;background:#f0f0f0;display:block;background:#EDEDED url(/FrontEnd/images20090801/newmypanli/GroupPurchasing/nav.gif) no-repeat -137px 0;font-size:14px;text-decoration:none;height:30px;line-height:30px;color:#aaa;}
.nav_tg .t a{background:#A5CC33 url(/FrontEnd/images20090801/newmypanli/GroupPurchasing/nav.gif) no-repeat 0 0;color:#FFF;font-weight:bold;}
.tishi{background:#ffffcc;border:#ffcc00 solid 1px;height:30px;line-height:30px;padding-left:10px;margin:0px 0 8px 0;}
.tishi p{float:left;}
.tishi a,.tishi1 a{color:#71A8CF;}
.tishi a:hover,.tishi1 a:hover{color:#f90;text-decoration:none;}
.tishi1{background:#dafce6;border:#66cc00 solid 1px;height:30px;line-height:30px;padding-left:10px;margin:0px 0 8px 0;color:#707070;} 



.tishiair{background:#dafce6;border:#66cc00 solid 1px;height:auto;line-height:25px;padding-left:10px;margin:0px 0 8px 0;color:#707070;}
.tishiair p b{ color:Red;}
.tishi a,.tishiair a{color:#71A8CF;}
.tishi a:hover,.tishiair a:hover{color:#f90;text-decoration:none;}

.tishi .guan{width:20px;background:url(/FrontEnd/images20090801/icon/common/close_2.gif) no-repeat 0px 0px;height:15px;float:right;margin-right:10px;margin-top:7px;}
.tishi .guan:hover{background-position:0 -15px;}


.page-top, .page-bottom {float:right;}
.page-bottom {float:right;height:25px;margin:0 5px 0 0;display:inline;}
.page-bottom a, .page-bottom .page-cur, .page-bottom .page-start, .page-bottom .page-end {
border:1px solid #AAAAAA;color:#666666;display:inline;float:left;height:20px;line-height:20px;margin-left:2px;padding:0 5px;text-decoration:none;}
.page-bottom .page-start, .page-bottom .page-end {border:1px solid #DDDDDD;color:#CCC;font-family:"simsun";}
.page-bottom a:hover {background:#FFEDE1;border:1px solid #FF9900;}
.page-bottom .page-cur {background:#FFEDE1;border:1px solid #FF6600;color:#FF0000;}
.page-bottom .page-break {float:left;margin:0 3px 0 5px;}
.page-bottom .page-skip {color:#999999;display:inline;float:left;height:22px;line-height:22px;margin-left:5px;}
.ts{border:1px solid #CCCCCC;}
#jumpto,#ajaxjumpto{border:1px solid #aaa;width:20px;margin:0 3px;}
.page_button{background:transparent url(/FrontEnd/images20090801/go.gif) no-repeat scroll 0 0;border:medium none;
cursor:pointer;height:22px;margin:0 0 0 5px;width:22px;}


.mei{padding:100px 0 350px 240px;background:url(/FrontEnd/images20090801/biaoqing/b9.gif) no-repeat 100px 100px;margin-left:55px;}
.mei h2{font-size:14px;font-weight:100;height:30px;color:#333;line-height:30px;padding-top:10px;}
.mei h2 a{color:#FF9900;font-size:12px;color:#f90;}
.mei p{line-height:20px;color:#acacac;}
.mei p a{color:#339AFF;}
.mei span{color:#ff0000;}
.mei a:hover{color:#FF0000;text-decoration:none}


.shang{padding:10px 0 0 0;height:80px;}
.m_pic{width:80px;float:left;padding-right:10px;}
.m_left{float:left;padding-top:5px;}
.m_left h1{font-size:20px;font-family:simhei;font-weight:normal;border-bottom:1px #b9b9b9 dashed;height:30px;width:640px;}
.pic{padding-top:7px;}
.pic p{line-height:20px;color:#888;}
.pic a{color:#71a8cf;}
.pic a:hover{color:#ff0000;}


.chakanyuany_overlay{
	moz-opacity:0.30; /* Moz + FF 透明度20% */
	opacity: 0.30;  /*支持CSS3的浏览器（FF 1.5也支持）透明度20%*/
	filter:alpha(opacity=30); /* IE 透明度20% */
	position:fixed;bottom:0;top:0;left:0;right:0;background:#fff;height:100%;width:100%;_position:absolute; z-index:800;
	display:;
}
.advisory_message{width:450px;border:1px #38913d solid;position:fixed;z-index:900;_position:absolute;left:50%;margin-left:-150px;top:50%;margin-top:-104px;_margin-top:0;background:#fff;height:240px;}
.advisory_tou h1{float:left;font-size:14px;font-weight:normal;color:#666;padding:15px 0 0px 15px;}
.advisory_close{height:19px;width:25px;float:right;padding:15px 15px 0 0;}
.advisory_close a{background:url(/FrontEnd/images20090801/icon/common/dialog_closer.gif) no-repeat;cursor:pointer;float:right;height:19px;width:25px;}
.advisory_close a:hover{background-position:-60px;}
.neir{background:url(/FrontEnd/images20090801/biaoqing/c7.gif) no-repeat 30px 25px;padding:30px 0 0 120px;height:60px;}
.neir p{font-size:14px;line-height:22px;}
.neir a{color:#71a8cf;}
.neir a:hover{color:#ff0000;text-decoration:none;}
.advisory_tou{background:url(/FrontEnd/images20090801/icon/common/m1.gif) repeat-x 0 0;height:60px;}
.caozuo{padding:10px 0 0 160px;}
.caozuo a{background:url(/FrontEnd/images20090801/button/109an.gif) no-repeat 0 0;width:109px;float:left;height:40px;color:#eee;text-decoration:none;text-align:center;line-height:30px;margin-right:12px;display:inline;font-size:14px;}
.caozuo a:hover{color:#FFF;background-position:0 -40px;}

.yj{z-index:100;border-bottom:#cadbea 1px solid;position:relative;width:160px;clear:both;overflow:hidden;}
.dao_d{width:740px;background:url(/FrontEnd/images20090801/newmypanli/package/daoh.gif) no-repeat 0 0;height:44px;margin-bottom:8px;}
.dao_d ul{height:44px;}
.dao_d ul li{float:left;line-height:40px;font-size:15px;font-family:"Microsoft YaHei";font-weight:normal;color:#fff;}
.g1{width:92px;padding-left:15px;}
.g2{width:115px;}
.g3{width:125px;}
.g4{width:125px;}
.g5{width:155px;}

.n_r{margin-bottom:10px;}
.n_r .red{background-color:#ffebe8;}
.n_r .yellow{background-color:#fff9d7;}
.n_r table{width:100%;border-collapse:collapse;color:#333;}
.n_r table td{padding:20px 0 20px 0;border:#ddd solid 1px;text-align:center;}
.n_r table .w1{width:90px;}
.n_r table .w1 a{color:#71a8cf;}
.n_r table .w1 a:hover{color:#ff0000;text-decoration:none;}
.n_r table .w2{width:85px;}
.n_r table .w3{width:155px;}
.n_r table .w4{width:115px;color:#f00;}
.n_r table .w5{width:105px;}
.n_anniu{padding-left:15px;}
.n_anniu a{background:url(/FrontEnd/images20090801/newmypanli/package/b_anniu.gif) no-repeat 0 0;color:#1163a3;height:28px;width:71px;line-height:28px;float:left;text-align:center;font-size:12px;text-decoration:none;margin-right:10px;display:inline;}
.n_anniu a:hover{color:#1163a3;background-position:0 -30px;}
.n_d{background:#eee;border:#eee solid 1px;text-align:right;padding-right:10px;color:#009933;line-height:28px;height:28px;}
.n_d span{margin-right:10px;}


.t_top{height:30px;border-bottom:1px solid #b6b6b6;margin-bottom:10px;width:740px;padding-top:20px;}
.t_top h1{font-size:16px;color:#333;float:left;padding-left:10px;}
.t_top a{color:#71a8cf;float:right;padding-top:5px;}
.xinxi{height:32px;border:#429a47 solid 1px;background:#65b56a;}
.xinxi h1{color:#fff;font-size:16px;line-height:32px;padding-left:10px;}
.xx_neir table{width:100%;border-collapse:collapse;background-color:#f0fdea;margin-bottom:15px;}
.xx_neir td{border:#c5d8be solid 1px;padding:0 0 0 10px;height:45px;}
.xx_neir .q1{width:70px;}
.xx_neir .q2{width:250px;}

.waiguan{height:32px;border:#d0cfcf solid 1px;background:#e3e3e3;}
.waiguan h1{color:#4f4f4f;font-size:16px;line-height:32px;padding-left:10px;}
.b_ann a{background:url(/FrontEnd/images20090801/newmypanli/package/but.gif) no-repeat 0 0;color:#297d2d;height:27px;width:72px;line-height:27px;float:left;text-align:center;font-size:12px;text-decoration:none;margin-right:10px;display:inline;}
.b_ann a:hover{color:#fff;background-position:0 -28px;}
.b_ann p{float:left;padding:5px 10px 0 0;}
.w_tu ul li{float:left;border:3px solid #ddd;margin-right:15px;margin-top:15px;}
.w_tu{padding-left:35px;}




/*Yuma 提示样式*/
.am_tsgai{background:#ffe1e1;border:#ffabab solid 1px;font-size:12px;margin-bottom:10px;height:50px;padding-left:10px;}
.am_tsgai p{float:left;line-height:22px;width:690px;margin-top:2px;}
.am_tsgai p a{color:#3399FF;}
.am_tsgai p a:hover{text-decoration:none;color:#FF0000;}
.am_tsgai a:hover{color:#f90;}
.am_tsgai .gb{width:20px;background:url(http://sf.panli.com/FrontEnd/images20090801/icon/common/close_2.gif) no-repeat 0px 0px;height:15px;float:right;margin-right:10px;margin-top:6px; cursor:pointer;}
.am_tsgai .gb:hover{background-position:0 -15px;}












