body{font-size:12px;margin:0;padding:0;font-family:Verdana, Arial, Helvetica, sans-serif;background:url(http://sf.panli.com/FrontEnd/images20090801/newmypanli/RmbAccount/huanxun.gif) repeat-x 0 100px;}p,h1,h2,h3,h4,h5,li,ul,dd,dt,dl,form{margin:0;padding:0;}img{border:none;}ul li{list-style:none;}
.top{margin:auto;width:830px;height:130px;}
.logo{float:left;margin-top:30px;width:190px;}
.top dl{float:left;margin:30px 0 0 0;}
.top dl dt{font-size:simhei;font-size:24px;font-weight:bold;color:#FF9900;margin-bottom:3px;}
.top dl dd{font-size:14px;}
.r{float:right;margin-top:50px;}
.center{border:#ddd solid 1px;margin:auto;width:830px;height:450px;}
.left{float:left;width:610px;border-right:#ddd solid 1px;margin:30px 0 0 20px;display:inline;height:390px;}
.tishi h2{font-size:14px;height:30px;}
.tishi p span{color:#FF0000;}
.tishi p{margin-left:15px;}
.tishi{border-bottom:#DEF2F3 solid 3px;height:60px;margin-right:20px;padding-left:5px;}
.z{text-align:right;width:190px;}
.center table{border-collapse:collapse;margin-top:30px;}
.center table td{padding:10px 10px 0 0;}
.center table td input{float:left;border:#83A0BE solid 1px;padding:4px 3px;width:190px;}
.center table p{color:#aaa;margin:8px 0 0 10px;float:left;display:inline}
.center table .hong{color:#f00;}
.center table .red{color:#FF0000;font-family:Arial;font-size:20px;padding:15px 0;}
.next{margin:30px 0 0 200px;}
.next input{background:url(http://sf.panli.com/FrontEnd/images20090801/newmypanli/RmbAccount/hx_next.gif) no-repeat;height:34px;width:150px;border:none;font-weight:bold;cursor:pointer;}
.right{float:right;width:175px;margin-top:50px;}
.right p{font-size:14px;line-height:28px;color:#FF9900;height:75px;}


.foot{margin:auto;width:830px;padding:20px 0;text-align:center;}































