.clear{ clear:both;}
.shopBuyBg{padding:12px 0; }
.shopBuy{ width:950px; margin: 0 auto 0 auto;position:relative;}
.shopBuyDetailsTbg,.shopBuyDetailsBbg{ background:url(/FrontEnd/images20090801/piece/Spellshop/bg.gif) no-repeat;}
.DetailsC_ConImgMin li.on em,.DetailsC_Input,.DetailsC_Input_,.DetailsCTao_nav li.on em{ background:url(/FrontEnd/images20090801/piece/Spellshop/tuanx.gif) no-repeat;}
.DetailsC_Path{ height:39px; line-height:39px; padding-left:15px; border-bottom:solid 1px #e7e7e7; color:#878787; font-family:'宋体';}
.DetailsC_Path a{ color:#71a8cf; padding:0 5px;}
.DetailsC_Path span{ padding:0 5px;}
.shopBuyDetails{ width:690px; float:left;}
.shopBuyDetailsTbg{ font-size:0px; height:5px;}
.shopBuyDetailsC{ width:688px; border-left:solid 1px #dfdfdf;border-right:solid 1px #dfdfdf; background-color:#fff; padding-bottom:25px;}
.shopBuyDetailsBbg{ font-size:0px; height:5px; background-position:0 -9px;}
.DetailsC_ConTitle{ height:49px; line-height:49px; text-align:center;font-size:16px; font-weight:900; color:#333; border-bottom:dashed 1px #dcdcdc; width:660px; float:left; display:inline; margin-bottom:15px;}
.DetailsC_Con{ padding:0 14px;  min-height:400px; _height:400px;}
.DetailsC_ConImg{ width:252px; float:left;}
.DetailsC_ConImgMax{ width:252px; height:252px;}
.DetailsC_ConImgMax a{ display:block; position:relative;vertical-align:middle;  display:inline-block; *display:inline; zoom:1; z-index:99;}
 /*.DetailsC_ConImgMax a img{ max-height:250px; max-width:250px;height:250px; width:250px;} */
.DetailsC_ConImgMin{ width:252px; position:relative;}
.DetailsC_ConImgMin ul{ width:275px; position:absolute; left:-5px; margin-top:13px;}
.DetailsC_ConImgMin li{ width:40px;height:40px;font-size:0px; border:solid 1px #cdcdcd; float:left; margin:0 5px; position:relative;}
.DetailsC_ConImgMin li a{opacity: 0.5;
_filter: alpha(opacity=50);}
.DetailsC_ConImgMin li.on a{ display:block; position:absolute; border:solid 1px #b6b6b6; height:40px; width:40px; padding:2px; top:-3px; left:-3px;opacity:1;
_filter: alpha(opacity=100); }
.DetailsC_ConImgMin li.on em{ display:block; font-size:0px; position:absolute; width:11px; height:6px; background-position:-108px -56px; left:50%; margin-left:-5px; top:-6px;}
.DetailsC_ConImgMin li img{ width:40px;height:40px;}
.DetailsC_ConSku{ width:400px; display:inline; margin-left:5px; float:left;}
.DetailsC_ConSku dd{display:inline; clear:both; float:left; width:400px; margin:3px 0; }
.DetailsC_ConSku dd span{display:block; float:left; text-align:right; width:75px; color:#878787; line-height:25px;}
.DetailsC_ConSku p{ width:325px; float:left; position:relative;}
.DetailsC_Mon{ color:#ff6600; font-size:20px; line-height:23px;}
.DetailsC_Mons{ color:#9c9c9c; font-size:16px; line-height:26px;}
.DetailsC_Sku{ float:left; width:325px; position:relative;}
.DetailsCTi{ width:92px; height:34px; line-height:25px; display:none; background:url(/FrontEnd/images20090801/piece/Spellshop/tishis.png) no-repeat; color:#e87937; padding-left:25px; position:absolute; top:-32px; left:0px;}
.DetailsC_Sku li{ float:left; height:30px; margin:3px 6px 3px 0px; position:relative; border:solid 1px #fff; }
.DetailsC_Sku li a{ display:block; color:#333333; text-align:center; padding:0 5px; height:28px; line-height:28px; text-decoration:none; border:solid 1px #c8c9cd;white-space:nowrap; _width:0px;}
.DetailsC_Sku li a.SkuImg img{ height:28px; width:28px; }
.DetailsC_Sku li a.SkuImg{padding:0px;}
.DetailsC_Sku li a:hover{ border-color:#43ad07;}
.DetailsC_Sku li.on{ border-color: #ff6600;}
.DetailsC_Sku li.on em{ position:absolute;display:block;height:11px; width:11px;background:url(/FrontEnd/images20090801/piece/Spellshop/on.png) no-repeat; right:0px;bottom:0px; _bottom:-2px;}
.DetailsC_Sku li.on a{ border-color: #ff6600;}
.DetailsC_Sku li.hui a{ border: dashed 1px #c8c9cd; background-color:#f8f8f8; color:#bdbdbd; cursor:not-allowed; }
.DetailsC_ConSku p.Buy_Num{ width:70px; height:20px; float:left; margin-top:3px;}
.DetailsC_Textarea{ width:320px; height:57px; border:solid 1px #dbdbdb; outline:none; margin-top:5px;}
.DetailsC_TextareaHui{background:url(/FrontEnd/images20090801/piece/Spellshop/xxbg.gif) center no-repeat;}
.DetailsC_Input,.DetailsC_Input_{ width:135px; height:39px; margin-top:5px; float:left; display:block; background-position:-135px -1px; border:none; color:#fff; line-height:39px; cursor:pointer; font-size:14px; }
.DetailsC_Input_{ background-position:-135px -45px;}
.DetailsCTao{ padding:0 14px; width:660px; float:left; margin-top:15px; display:inline;}
.DetailsCTao_nav{ width:100%; height:37px; border-bottom:solid 1px #dddddd; }
.DetailsCTao_nav li{ text-align:center; width:129px; height:37px; float:left; position:relative; }
.DetailsCTao_nav li.on em{ height:3px; width:129px; display:block; font-size:0px; background-position:0px -76px; }
.DetailsCTao_nav li.on a{ text-decoration:none; position:absolute; top:3px; left:0px; display:block; background-color:#fff; width:127px; border-left:solid 1px #ddd; border-right:solid 1px #ddd;height:35px; color:#4d4d4d; line-height:35px; }
.DetailsCTao_Con{ width:660px; overflow:hidden; padding-top:10px;}

.shopBuyGoodsTitle em,.Buy_Num a,.BuyYes_Submits,.BuyYes_Submits_{ background:url(/FrontEnd/images20090801/piece/Spellshop/tuanx.gif) no-repeat;}
.shopBuyGoods{ width:250px; float:right; border:solid 1px #f25203; background-color:#ff6600; padding-bottom:3px;}
.shopBuyGoodsTitle{ height:42px; border-top:solid 1px #ff8b3d; color:#fff; line-height:42px;}
.shopBuyGoodsTitle em{ display: inline; float:left; margin:14px 7px 0 60px; width:15px; height:15px; background-position:-53px -20px;  }
.shopBuyGoodsYes{ width:242px; margin:0 auto; background-color:#f4f4f4;}
.BuyYesTop{ overflow-y:scroll; max-height:308px;_height:expression(this.scrollHeight > 333 ? "333px" : "auto");width:240px;}
.BuyYes_Total{ height:30px; line-height:30px; padding:0 10px; color:#333; font-weight:900;}
.BuyYes_Total span{ float:right;color:#ff6600;}
.BuyYes_Total em{ float:left; font-style:normal;}
.BuyYesUl{ background-color:#fff; padding:0 7px;}
.BuyYesUl li{ background-color:#fff; border-bottom:dashed 1px #e6e6e6;height:62px; padding:7px 0; }
.BuyYesUl li img{ width:60px; height:60px; border:solid 1px #cecece; float:left;}
.BuyYes_title{ float:left; display:inline; margin-left:8px; float:left; width:60px; line-height:20px; color:#757575; height:60px; overflow:hidden;}
.BuyYes_Num{ width:72px; float:right; overflow:hidden;}
.BuyYes_Num span{ float:right; text-align:right; color:#757575;}
.Buy_Num{ height:20px; width:70px; display:inline;  margin-top:23px; float:left;border:solid 1px #dbdbdb;}
.Buy_Num a{display:block; float:left;width:20px; height:20px; text-indent:999em; overflow:hidden; text-decoration:none;}
.Buy_Num a.Buy_NumLeft{ background-position:-85px -8px; border-right:solid 1px #dbdbdb;}
.Buy_Num a.Buy_NumRight{ background-position:-104px -8px ; border-left:solid 1px #dbdbdb;}
.Buy_Num a.Buy_NumLeft:hover{ background-position:-85px -29px;}
.Buy_Num a.Buy_NumRight:hover{ background-position:-104px -29px ;}
.Buy_Num a.Buy_NumRight.Hui,.Buy_Num a.Buy_NumRight.Hui:hover{background-position:-12px -8px ; cursor:not-allowed;}
.Buy_Num a.Buy_NumLeft.Hui,.Buy_Num a.Buy_NumLeft.Hui:hover{background-position:-12px -28px; cursor:not-allowed; }
.Buy_Num input{ width:22px; float:left; height:14px; padding:3px; border:none; background:none; color:#333; text-align:center; outline: none;}
.BuyYes_Submit{ height:66px; border-top:dashed 1px #e6e6e6;}
.BuyYes_Submits,.BuyYes_Submits_{ color:#fff; width:141px; height:39px;cursor:pointer; display:inline; margin:13px auto 0 auto; border:none; background-position:-284px 0; float:left; margin-left:50px;font-size:14px;}
.BuyYes_Submits_{background-position:-284px -44px;}
.shopBuyGoodsNo{width:242px; margin:0 auto; text-align:center;background-color:#fff; height:90px; line-height:90px; color:#666666;}
.BuyYesUlLoad{ height:62px; background:url(/FrontEnd/images20090801/piece/Spellshop/loading.gif) no-repeat center; margin-top:-77px;}


.DetailsC_ConSku .vip{background:url(/FrontEnd/images20090801/piece/vip.gif) no-repeat;height:11px;width:20px;float:left;margin:8px 3px 0 0;display:inline;cursor:pointer}
.DetailsC_ConSku .vipbox{margin:25px -600px -200px 0px;position:relative;float:left;background:#FFF;border:#fc9200 solid 2px;padding:5px 0;width:218px;z-index:600;}
.DetailsC_ConSku .vipbox ul{background:url(/FrontEnd/images20090801/piece/vip_box.gif) no-repeat top;width:222px;margin:-13px -2px 0 -2px;position:relative;padding-top:15px;}
.DetailsC_ConSku .vipbox li{line-height:24px;margin-left:15px;}
.DetailsC_ConSku .vipbox li span{color:#FF9900}
.DetailsC_ConSku .vipbox li i{color:#ff6600;font-style:normal;}

#productImg{width:60px; height:60px; display:none; border:solid 1px #cecece; position:absolute; left:0px; }
#productImg img{width:60px; height:60px; }

.a_wjp{width:658px;height:35px;background:#ffffe0;border:1px solid #f9dfb2;margin:10px 0 10px 13px;}
.a_wjp p{padding-left:15px;line-height:35px;color:#656565;}
.a_wjp a{color:#71a8cf;margin-left:5px;}
.a_wjp a:hover{color:#f00;text-decoration:none;}