body{font-size:12px;margin:0;padding:0;font-family:Verdana, Arial, Helvetica, sans-serif;}p,h1,h2,h3,h4,h5,li,ul,dd,dt,dl,form{margin:0;padding:0;}img{border:none;}ul li{list-style:none;}textarea{resize: none;}
.top{width:950px;margin:auto;margin-top:5px;height:82px;}
.logo{width:360px;float:left;}
.logo a{float:left;}
.logo p{float:left;border-left:#eee solid 2px;padding:5px 0 15px 12px;margin-left:13px;display:inline;margin-top:5px;}
.top_r{float:right;width:580px;}

.mypanli{float:right;color:#999;font-family:"simsun";margin-top:8px;width:570px;}
.mypanli li{float:left;height:30px;}
.mypanli li a{color:#999;margin:0 8px;float:left;display:inline;padding-top:2px;}
.mypanli li a:hover,.mypanli p a:hover{color:#F60;text-decoration:none}
.mypanli p a{color:#999;text-decoration:none}
.mypanli ul{float:right;}
.mypanli p{float:right;margin:15px 5px 0 0;display:inline;clear:both}
.gouwu{background:url(/FrontEnd/images20090801/gwc.gif) no-repeat left;padding-left:23px;}

.x_h2{background:url(/FrontEnd/images20090801/piece/x_h2.gif) no-repeat;width:950px;height:34px;margin:auto;}
.center{border:#ddd solid 1px;width:948px;margin:auto;margin-top:12px;padding-bottom:30px;}
.top_yj{background:url(/FrontEnd/images20090801/piece/x_yj.gif) no-repeat left 0;height:5px;width:950px;margin:-1px;position:relative;overflow:hidden}
.bt{border-bottom:#CCC solid 1px;height:45px;margin:0 25px;padding-top:35px;overflow:hidden}
.bt h1{font-size:20px;font-weight:normal;font-family:"simhei";text-align:center;}
.center h1 a{text-decoration:none;color:#333;}
.center h1 a:hover{color:#F60;text-decoration:underline;}

.left{margin:23px 0 0 40px;float:left;display:inline;width:226px;}
.left table{border-collapse:collapse;border:none;margin:20px 0 0 0;float:left;display:inline;color:#999}
.left table span{color:#F00;margin-left:5px;}
.left table td{height:22px;border:none;}
.pic{height:215px;}
.pic a{
display:table-cell;
vertical-align:middle;
text-align:center;
border:1px solid #DDDDDD;
height:220px;
padding:3px;
width:220px;font-family:Arial;
*display:block;*font-size:198px;
}
.pic img{vertical-align:middle;}
.pic a:hover{border:#fc0 solid 2px;padding:2px;}

.gmr{width:228px;}
.gmr table{width:100%;border-collapse:collapse;}
.gmr table td{width:85px;text-align:left;}
.gmr table .z{text-align:left;color:#333;text-align:right;width:40px;}

.right{float:right;width:570px;margin:20px 0px 0 0;display:inline;}
.sp table{width:100%;border-collapse:collapse;}
.sp table .hui{background:#F3F3F3;border:#CACACA solid 1px;padding:5px 5px 5px 5px;color:#ABABAB;float:left}
.sp .shu .text{width:150px;background:#fff;border:#BADBEA solid 1px;padding:5px 5px 5px 5px;color:#333;float:left;}
.sp textarea{background:#fff;border:#BADBEA solid 1px;width:390px;padding:5px;font-size:14px;height:50px;float:left;font-size:12px;}
.sp .still{color:#CCC;margin-bottom:5px;}
.ck{font-size:14px;float:left;display:inline;color:#339AFF;margin:5px 0 0 10px;display:inline;}
.ck:hover{color:#FF6600;text-decoration:none;}
.sp{padding-bottom:10px;}
.sp .text{width:350px;}
.sp table td{height:30px;vertical-align:top;}
.l{text-align:right;width:98px;vertical-align:top;padding-top:3px;line-height:24px;}
.sp table b{font-size:18px;color:#F00;}
.sp table span{color:#f00;margin:5px 3px 0 0;line-height:24px;}
.vip{background:url(/FrontEnd/images20090801/piece/vip.gif) no-repeat;height:11px;width:20px;float:left;margin:5px 3px 0 0;display:inline;cursor:pointer}
.vipbox{margin:25px -600px -200px 0px;position:relative;float:left;background:#FFF;border:#fc9200 solid 2px;padding:5px 0;width:218px;}
.vipbox ul{background:url(/FrontEnd/images20090801/piece/vip_box.gif) no-repeat top;width:222px;margin:-13px -2px 0 -2px;position:relative;padding-top:15px;}
.vipbox li{line-height:24px;margin-left:15px;}
.vipbox li span{color:#FF9900}



.wz{ margin-top:6px; background:#FFBD36 url(/FrontEnd/images20090801/see_wz.gif) no-repeat right;height:18px;display:block;float:left;line-height:19px;color:#FFF;padding:0 12px 0 7px;text-decoration:none;overflow:hidden}
.dm{margin-top:6px; float:left;margin-left:5px;color:#339AFF;line-height:19px;}
.dm:hover{color:#F90}

.shu a{display:inline;float:left;background:url(/FrontEnd/images20090801/AddItemPanel/jj.gif) no-repeat left top;height:18px;width:18px;margin:5px 0 0 5px;}
.shu a:hover{background-position:left bottom}
.shu .jian{background-position:right top;}
.shu .jian:hover{background-position:right bottom;}

.ok{width:545px;float:right;}
.ok li{font-size:14px;line-height:24px;}
.ok li b{color:#FF0000;margin:0 3px 0 3px;}
.ok li i{font-style: normal;}
.ok li a{color:#339AFF;}
.ok li a:hover{color:#F90;text-decoration:none}

.pd,.pd_,.pd_h{display:inline;margin-left:100px; float:left;background:url(/FrontEnd/images20090801/piece/wypd.gif) no-repeat top;width:105px;height:31px;line-height:31px;font-size:14px;text-decoration:none;text-align:center;color:#FFF;border:none;cursor:pointer;margin-top:15px;}
.pd_{background:url(/FrontEnd/images20090801/piece/wypd.gif) no-repeat 0 -32px;}
.pd_h{background:url(/FrontEnd/images20090801/piece/wypd.gif) no-repeat 0 -63px;}

.queren h1{color:#80ab51;font-family:"simhei";font-size:20px;font-weight:normal;padding-left:70px;background:url(/FrontEnd/images20090801/piece/queren.gif) no-repeat left;line-height:70px;height:70px;}
.queren{margin:10px 0 0 200px;padding:50px 0 100px 0;}
.queren ul{margin:0 0 0 70px;}
.queren ul li{line-height:30px;font-size:14px;}
.queren ul li span{color:#FF0000;font-size:18px;margin:0 2px;}
.lastnav{margin:15px 0 0 60px; }
.lastnav a{float:left;text-decoration:none;color:#ddd;font-size:14px;background:url(/FrontEnd/images20090801/AddItemPanel/nav.gif) no-repeat top;width:143px;height:44px;text-align:center;line-height:30px;margin:0 10px 0 10px;display:inline;}
.lastnav a:hover{background-position:0 bottom;color:#FFF}
.lc2{background:url(/FrontEnd/images20090801/piece/x_h3.gif) no-repeat left 0;}

.foot{height:60px;margin:auto;width:950px;text-align:center;padding-top:22px;color:#999;clear:both;background:url(/FrontEnd/images20090801/piece/x_yj.gif) no-repeat right top;margin-top:-1px;}.foot a{color:#999}.foot a:hover{color:#F60}.foot p{margin-bottom:8px;}

.n_pd{background:#339900;line-height:22px;padding-left:5px;margin-bottom:5px;color:#FFF;font-size:14px;}
.n_pd b{color:#Fe0;padding:0 3px;}
.jifen_pd{background:#339900;color:#FFF;line-height:22px;padding-left:5px;font-size:12px;margin-bottom:5px;}
.jifen_pd b{color:#Fe0;padding:0 3px;}
.jifen_pd span{color:#66FF00}
.jifen_bz{background:#D50005;color:#FFF;line-height:22px;padding-left:5px;font-size:12px;margin-bottom:5px;}
.jifen_bz b{color:#FFFF33;padding:0 3px;}

.sp .red{background:#fff;border:#FF9900 solid 1px;padding:5px 5px 5px 5px;color:#f00;}

.picking{height:30px;display:block;color:#60A1D7;font-size:14px;line-height:20px;}
.sp .still{color:#CCC;background:url(/FrontEnd/images20090801/newmypanli/lizi.gif) no-repeat 10px 10px;}
.queren li b{font-weight:100;color:#FF9900;}

.pay{border-top:#CCC dashed 1px;margin:0 25px;border-bottom:#CCC dashed 1px; padding-bottom:10px;clear: both; margin-top:10px;}
.yuer{float:left;width:240px;padding:10px 0 0 5px;}
.yuer li{line-height:22px; font-size:14px;}
.yuer li b{color:#F60;font-weight:100;padding-right:3px;}
.yuer li a{color:#71a8cf;font-size:12px;}
.yuer li a:hover{color:#F00;text-decoration:none;}

#fPanel i,#fPanel span{ float:left;}


.a_tishi{width:680px;height:30px;background:#feebe1;border:1px solid #facacb;margin-left:150px;}
.a_tishi p{padding:6px 0 0 15px;}
.a_tishi a{color:#71a8cf;text-decoration:none;}
.a_tishi a:hover{color:#f00;text-decoration:underline;}

.am_payment{padding-top:10px;}
.am_payment input{width:150px;background:white;border:#BADBEA solid 1px;padding:5px 5px 5px 5px;float:left;}
.am_payment p{font-size:14px;float:left;padding-top:5px;}
.am_payment a{color:#71a8cf;text-decoration:none;padding-left:5px;float:left;padding-top:8px;}
.am_payment a:hover{color:#f00;text-decoration:underline;}
.OkLeftP{ text-align:right; width:100px; float:left;}

/*sku*/
.DetColor, .DetSize{z-index:2; width:390px; padding-bottom:5px;}
.SkuTr .Tishi, .SkuTr .Tishi{position:absolute;z-index:4;margin-top:-25px;margin-left:-42px;width:196px;height:34px;background:url(/FrontEnd/images20090801/newmypanli/tishi.png) no-repeat 0 0;color:#e4790f;padding-left:24px;line-height:24px;}

.DetColor li, .DetSize li{float:left;height:24px;padding:1px;position:relative;margin:0 10px 6px 0;display:inline;}
.DetColor li a, .DetSize li a{float:left;height:24px;border:1px solid #EBE6E5;background-color:#FFF;color:#333;text-align:center;line-height:24px;padding:0 4px; text-decoration:none;white-space:nowrap;}
.DetColor li .Border_Red, .DetSize li .Border_Red, .DetColor li a:hover, .DetSize li a:hover{border:2px solid #7dba45;margin:-1px;}
.DetColor li a.Border_Hui,.DetColor li a.Border_Hui:hover {border:1px dashed #C8C9CD; color:#BDBDBD;margin:0px;background-color: #F8F8F8;}

/*sku*/

/*IMGjquery*/

.LeftImg{width:311px;float:left;}
.LBigImg{padding:0px;border:4px solid #cccc99;width:302px;height:302px;}
.LBigImg a
{
    display:block; position:relative;vertical-align:middle;  display:inline-block; *display:inline; zoom:1; z-index:99;
    }

#JqzoomImg{ max-width:300px; max-height:300px; _width:expression(this.width > 300  ? 300 : true);_height:expression(this.height > 300  ? 300 : true);    display:table-cell;
}

.ZoomDiv{
display:block;
z-index:100;
position:absolute;
top:20px;
left:325px;
width:308px;
height:308px;
border:1px solid #cccc99;
text-align:center;
overflow:hidden;
}
.Big-Img{width:800px;display:table-cell;vertical-align:middle;text-align:center;overflow:hidden;}
.LSmallImg{float:left;}
.LSmallImg ul{overflow:hidden;width:310px; padding-bottom:10px;}
.LSmallImg ul li{float:left;margin:10px 5px 0px 5px;width:44px;height:47px; display:inline;}
.LSmallImg ul li a{background:url(/FrontEnd/images20090801/newmypanli/select.png) no-repeat -54px 0;
padding:7px 0 0 4px;
float:left;
height:40px;
width:40px;
opacity:0.5;
_filter:alpha(opacity=50);
display:inline;
}

.LSmallImg ul li a img{width:36px;height:36px;}
.LSmallImg .Small-Selected, .LSmallImg ul li a:hover{opacity:1;background-position:0 0;cursor:pointer;}
/*IMGjquery*/

/*详情页面*/
.DetUR{margin:10px 25px 0 25px;clear:both}

.DetUR-Change{height:39px;width:100%;border-bottom:1px solid #ddd; cursor:default;}
.DetUR-Change a{float:left;text-align:center;line-height:43px;}
.DetUR-Change .Change1{  text-decoration:none;   height:40px;width:129px;background:url(/FrontEnd/images20090801/newmypanli/change3.gif) no-repeat 0 2px;color:#4d4d4d;font-weight:600;position:relative;margin-bottom:-2px;}
.DetUR-Change .Change1_{height:39px;width:127px;background:url(/FrontEnd/images20090801/newmypanli/change3.gif) no-repeat -135px 0;color:#999;}
.DetUR-Change .Change2{height:39px;width:127px;background:url(/FrontEnd/images20090801/newmypanli/change3.gif) no-repeat -135px 0;margin-left:6px;color:#999;}
.DetUR-Change .Change2_{height:40px;width:129px;background:url(/FrontEnd/images20090801/newmypanli/change3.gif) no-repeat 0 2px;margin-left:6px;color:#4d4d4d;font-weight:600;position:relative;margin-bottom:-2px;}
.DetUR-Change .Change2:hover{color:#f60;}
.DetUR-Change .Change1_:hover{color:#f60;}


.DetUR .DetUR-XQ{padding-top:10px;overflow:hidden;}
.DetUR .DetUR-XQ .XQ-Info{border:1px solid #eee;background:#f6f6f6;overflow:hidden;padding-top:10px;margin-bottom:10px; padding-bottom:10px;}
.DetUR .DetUR-XQ .XQ-Info li{float:left;width:30%;margin-left:10px;line-height:26px;height:20px;overflow:hidden;color:#4d4d4d;}
.DetUR-XQ p img {
  max-width:745px;
  height:auto; 
  width:expression(this.width > 745 ? "745px" : true);}

/*详情页面*/

.substall{float:right; font-size:14px; margin-bottom:15px; line-height:27px; margin-top:10px;}
                         .fleft{ float:left;}
                         .fright{ float:right;}
                         .substm{ position:absolute; right:6px; top:10px; font-size:0px; line-height:0px; width:0px; height:0px; border:6px solid #fff; border-top-color:#7f9db9; }
                         .substituting em{ font-style:normal;}
                         .substituting{ float:left; width:330px; height:25px; position:relative; border:solid 1px #7f9db9; font-size:13px;}
                         .substList{ position:absolute; z-index:10; left:-1px; top:25px; display:block; width:330px;border:solid 1px #7f9db9; background-color:#fff; max-height:200px;   overflow-y: auto;display:block;}
                         .substList span,.substCheck{ height:22px; line-height:22px; display:block; cursor: pointer;padding:0 25px 0 5px; }
                         .substList span:hover{ background-color:#1e90ff; color:#fff; }
                         .substCheck{ line-height:25px;}
 .substtip{  background:url(/FrontEnd/images20090801/piece/wenh.png) no-repeat center; position:relative; width:20px; height:20px; display:none;}
 .substtip em{ display:none; position:absolute; width:267px; height:34px;background:url(/FrontEnd/images20090801/piece/tip.png) no-repeat center; left:-20px; top:20px; font-style:normal; font-size:12px;  color:#010101; padding:10px 5px 5px; line-height:18px; }
  .substtip:hover em{ display:block;}