body{ margin:0 auto;}
.frame{ width:950px;height:auto;font-family:Verdana,Arial, Helvetica, sans-serif;margin:0 auto;text-align:center;}
p, h1, h2, h3, h4, h5, ul,li,  dl, dt, dd, b,div,img{ list-style-type:none; margin:0px; padding:0px; border:0px; font-weight:normal;}
ul,li{list-style-type:none;}
img{vertical-align:top;}
a,area{outline: none;blr:expression(this.onFocus=this.blur());}/*For IE*/
:focus{-moz-outline-style:none;}/*For Firefox*/

.frame li{ width:950px;position:relative;}
.icon0{width:257px;height:50px;left:512px;top:0px;position:absolute;}
.icon0 a{width:257px; height:50px; display:block; background:url(http://sf.panli.com/FrontEnd/images20090801/Special/20120510/icon_img_03.gif) no-repeat top;}
.icon0 a:hover{ background-position:bottom;}
.icon01{width:257px;height:50px;left:192px;top:5px;position:absolute;}
.icon01 a{width:257px; height:50px; display:block; background:url(http://sf.panli.com/FrontEnd/images20090801/Special/20120510/icon_img_07.gif) no-repeat top;}
.icon01 a:hover{ background-position:bottom;}
.icon02{width:257px;height:50px;left:346px;top:8px;position:absolute;}
.icon02 a{width:257px; height:50px; display:block; background:url(http://sf.panli.com/FrontEnd/images20090801/Special/20120510/icon_img_11.gif) no-repeat top;}
.icon02 a:hover{ background-position:bottom;}
.icon03{width:257px;height:50px;left:346px;top:8px;position:absolute;}
.icon03 a{width:257px; height:50px; display:block; background:url(http://sf.panli.com/FrontEnd/images20090801/Special/20120510/icon_img_14.gif) no-repeat top;}
.icon03 a:hover{ background-position:bottom;}
.icon04{width:257px;height:50px;left:346px;top:8px;position:absolute;}
.icon04 a{width:257px; height:50px; display:block; background:url(http://sf.panli.com/FrontEnd/images20090801/Special/20120510/icon_img_16.gif) no-repeat top;}
.icon04 a:hover{ background-position:bottom;}