body{font-size:12px;margin:0;padding:0;font-family:Verdana, Arial, Helvetica, sans-serif;}p,h1,h2,h3,h4,h5,li,ul,dd,dt,dl,form{margin:0;padding:0;}img{border:none;}ul li{list-style:none;}.top{height:80px;border-bottom:#FF9900 solid 1px;}.kj{margin:auto;width:950px;height:80px;}.logo{float:left;}.mypanli{float:right;color:#999;font-family:"simsun";margin-top:8px;width:600px;}.mypanli li{float:left;height:30px;}.mypanli li a{color:#999;margin:0 8px;float:left;display:inline;padding-top:2px;}.mypanli li a:hover,.mypanli p a:hover{color:#F60;text-decoration:none}.mypanli p a{color:#999;text-decoration:none}.mypanli ul{float:right;}.mypanli p{float:right;margin:2px 5px 0 0;display:inline;}.gouwu{background:url(/FrontEnd/images20090801/gwc.gif) no-repeat left;padding-left:23px;}
.center{width:950px;margin:auto;}
.ku{background:url(/FrontEnd/images20090801/biaoqing/b8.gif) no-repeat 110px 0;height:135px;padding-left:230px;margin-top:70px;}
.ku h2{font-size:20px;margin-top:45px;float:left;color:#444;}
.nin h2{font-size:14px;font-weight:100;height:25px;}
.nin{padding-left:230px;height:210px;}
.nin li{line-height:24px;color:#666;}
.nin li a{color:#71a8cf;padding:0 2px;}
.nin li a:hover{color:#FF0000;text-decoration:none;}

.foot{height:60px;text-align:center;padding-top:22px;color:#bbb;border-top:#eee solid 1px;}
.foot a{color:#bbb}.foot a:hover{color:#F60}.foot p{margin-bottom:8px;}


















