.register{width:250px;margin:auto;padding:40px 0 55px 0;}
.register dd{height:35px; position:relative;}
.register dt{font-size:12px;color:#bbb;}
.register dl{margin-bottom:8px;}
.register dl input{background:#fff;border:#63A3C5 solid 1px;padding:6px 3px;width:242px;font-size:14px;}
.register dl .h{color:#bbb;}
.register dl .h2{color:#bbb;}
.register dd .eyes{ background:url(/FrontEnd/images20090801/m/xz.png) no-repeat; background-size: 56px; display:block; width:60px; height:25px; right:0px; top:5px; position:absolute; }
.register dd .off{ background-position:0 -28px;}

.register dl .z{color:#666;}
.register dl .r{color:#f00;}
.register dl .yzm{width:110px;float:left;}
.register img {float:left;width:125px;height:28px;margin-left:5px;cursor:pointer;}

.tijiao{padding-top:10px;clear:both;}
.tijiao label input{float:left;margin-right:3px;display:inline;}
.tijiao span{display:block;height:40px;}
.button,.button_{background:url(/FrontEnd/images20090801/m/ok.gif) no-repeat top;width:100px;height:38px;border:none;height:44px;color:#FFFFFF;line-height:30px;padding-bottom:14px;cursor:pointer;font-size:14px;}

.succeed{width:210px;margin:50px auto 50px auto;border:#ffc55f solid 1px;padding:30px;background:#fbffdf;}
.succeed h1{font-size:14px;line-height:22px;padding:0 0 15px 50px;color:#090;background:url(/FrontEnd/images20090801/m/succeed.gif) no-repeat 0 0;font-weight:normal;}
.succeed p{font-size:12px;line-height:20px;}
.succeed a{color:#71a8cf;}
.succeed img{padding-top:10px;}
.fw_a2{background-color:#ddf4fb;border:1px solid #b3dff5;height:35px;text-align:center;line-height:35px;margin-bottom:10px;}
.fw_a2 p{line-height:35px;color:#388fbb;}
.fw_a{background-color:#ddf4fb;border:1px solid #b3dff5;height:35px;text-align:center;line-height:35px;margin-top:10px;}
.fw_a a{text-decoration:none;color:#368ab4;}
.succeed a:hover,a.backindex:hover,.fw_a a:hover,a.fw_a:hover,.tijiao a:hover{color:#f00;text-decoration:none;}
.fanhui{height:38px;}
.fanhui a{background:url(/FrontEnd/images20090801/m/fanhui.gif) no-repeat 0 0;height:38px;width:100px;border:0;font-size:14px;color:#333;text-align:center;text-decoration:none;float:left;line-height:35px;}


.succeed h2{font-size:14px;line-height:22px;padding:0 0 15px 50px;color:#f00;background:url(/FrontEnd/images20090801/m/cuo.gif) no-repeat 0 0;font-weight:normal;}

/*ÐÂ¼Ó*/
.register dt.line{line-height: 30px;font-size: 14px; color:#000;}
.register dt.line span{font-size:12px;color:#bbb;}
.tijiao a{ margin-left:80px; color:#369;}
.succeed h1.line{ line-height:36px;}
.succeed a.link{ line-height:30px; height:30px; display:block; margin-top:15px;}
.register dd.height{ height:95px;}
.register dd.height textarea{line-height:20px; height:80px;padding: 6px 3px;width: 242px;}
a.backindex{ color:#369; margin:0px auto; line-height:30px; width:50px; display:block; margin-top:20px;}
.succeed h2.line{ padding-bottom:0px;}
a.fw_a{ display:block; text-decoration:none; color:#369;}