body{ margin:0 auto;}
.frame{ width:950px;height:auto;font-family:Verdana,Arial, Helvetica, sans-serif;margin:0 auto;text-align:center;}
p, h1, h2, h3, h4, h5, ul,li,  dl, dt, dd, b,div,img{ list-style-type:none; margin:0px; padding:0px; border:0px; font-weight:normal;}
ul,li{list-style-type:none;}
img{vertical-align:top;}
a,area{outline: none;blr:expression(this.onFocus=this.blur());}/*For IE*/
:focus{-moz-outline-style:none;}/*For Firefox*/
.span20{ height:20px; line-height:20px; display:block; clear:both;}
.span30{ height:30px; line-height:30px; display:block; clear:both;}

#frame{ background-color:#f66100; margin:0 auto; height:374px;}
.banner_top{ width:950px; margin:auto;}

#back{ background:url(/FrontEnd/images20090801/Special/20121010/gift/back_02.gif) left fixed; margin:0 auto;clear:both;} 
.content{ width:950px; margin:0 auto; background:url(/FrontEnd/images20090801/Special/20121010/gift/tg_li_15.gif) repeat-y;overflow:hidden;}
*html .content{ width:950px; margin:0 auto; background:url(/FrontEnd/images20090801/Special/20121010/gift/tg_li_15.gif) repeat-y;visibility:inherit;}
.pro_img{ padding:20px 72px;}
.pro_img li{ float:left; margin:0 34px; text-align:center; display:inline;}
.pro_img span{ margin-top:15px; display:block;}
.bor{ border:solid 1px #b2b2b2; padding:1px; display:block;}
.sponsor{ clear:both; width:733px; margin:0 auto;}
.sponsor_con li{ float:left; display:block; margin:20px 5px 0 5px; display:inherit;}
.edge{ border:solid 1px #b2b2b2; padding:1px; display:block;}
.bottom_gift{ background:url(/FrontEnd/images20090801/Special/20121010/gift/tg_li_114.gif) top no-repeat; height:35px; display:block; clear:both;}
.button{position:relative; clear:both; height:80px;}
.icon{width:390px;height:55px;left:280px;top:10px;position:absolute;}
.icon a{width:390px; height:55px; display:block; background:url(/FrontEnd/images20090801/Special/20121010/gift/button_03.gif) no-repeat top;}
.icon a:hover{ background-position:bottom;}

.share_message{width:500px;border:1px #38913d solid;position:fixed;z-index:900;_position:absolute;left:50%;margin-left:-250px;top:50%;margin-top:-200px;_margin-top:0;background:#fff;height:400px;}
.share_tou h1{float:left;font-size:14px;font-weight:normal;color:#666;padding:15px 0 0px 15px;}
.share_close{height:19px;width:25px;float:right;padding:15px 15px 0 0;}
.share_close a{background:url(/FrontEnd/images20090801/Special/20121010/gift/dialog_closer.gif) no-repeat;cursor:pointer;float:right;height:19px;width:25px;}
.share_close a:hover{background-position:-60px;}
.share_tou{background:url(/FrontEnd/images20090801/Special/20121010/gift/m1.gif) repeat-x 0 0;height:60px;}

.gl_overlay{display:;
	moz-opacity:0.26; /* Moz + FF 透明度20% */
	opacity: 0.26;  /*支持CSS3的浏览器（FF 1.5也支持）透明度20%*/
	filter:alpha(opacity=26); /* IE 透明度20% */
	position:fixed;bottom:0;top:0;left:0;right:0;background:#000;height:100%;width:100%;_position:absolute; z-index:800;
}
.choujiang_jieguo{padding-top:50px;}
.cj_pic{width:135px;float:left;padding-left:30px;}
.cj_pic img{height:110px;width:120px;}
.cj_pic a{height:110px;width:120px;float:left;}
.cj_info{float:left;width:335px;}
.cj_info h1{font-size:16px;font-family:"Microsoft Yahei";line-height:30px;height:30px;}
.cj_info p{line-height:24px;font-size:12px;}
.cj_info p a{color:#5FA8DE;}
.cj_info p a:hover{color:#f00;}
.cj_info ul{padding-top:15px;}
.cj_info ul li{float:left;padding-right:20px;}
.cj_info ul li a{color:#5FA8DE;text-decoration:none;border:#5FB867 solid 1px;float:left;height:30px;line-height:30px;padding:0 10px;background:#EAF9DF;color:#488743;}
.cj_info ul li a:hover{color:#F60;}
