body{ margin:0 auto;}
.frame{ width:950px;height:auto;font-family:Verdana,Arial, Helvetica, sans-serif;margin:0 auto;text-align:center;}
p, h1, h2, h3, h4, h5, ul,li,  dl, dt, dd, b,div,img{ list-style-type:none; margin:0px; padding:0px; border:0px; font-weight:normal;}
ul,li{list-style-type:none;}
img{vertical-align:top;}
a,area{outline: none;blr:expression(this.onFocus=this.blur());}/*For IE*/
:focus{-moz-outline-style:none;}/*For Firefox*/
.span20{ height:20px; line-height:20px; display:block; clear:both;}

#frame{ background-color:#f66100; margin:0 auto; height:344px;}
.banner_top{ width:950px; margin:auto;}

#back{ background:url(/FrontEnd/images20090801/Special/20121010/GroupPurchasing/back_02.gif) left fixed; margin:0 auto;clear:both;} 
.content{ width:950px; margin:0 auto; background:url(/FrontEnd/images20090801/Special/20121010/GroupPurchasing/tg_li_15.gif) repeat-y;overflow:hidden;}
*html .content{ width:950px; margin:0 auto; background:url(/FrontEnd/images20090801/Special/20121010/GroupPurchasing/tg_li_15.gif) repeat-y;visibility:inherit;}
.img01{ position:relative;}
.icon{width:208px;height:48px;left:140px;top:58px;position:absolute;}
.icon a{width:208px; height:48px; display:block; background:url(/FrontEnd/images20090801/Special/20121010/GroupPurchasing/icon_03.gif) no-repeat top;}
.icon a:hover{ background-position:bottom;}
.img02{ position:relative;}
.icon2{width:208px;height:48px;left:595px;top:12px;position:absolute;}
.icon2 a{width:208px; height:48px; display:block; background:url(/FrontEnd/images20090801/Special/20121010/GroupPurchasing/icon_06.gif) no-repeat top;}
.icon2 a:hover{ background-position:bottom;}
.img03{ position:relative;}
.icon3{width:208px;height:48px;left:155px;top:30px;position:absolute;}
.icon3 a{width:208px; height:48px; display:block; background:url(/FrontEnd/images20090801/Special/20121010/GroupPurchasing/icon_11.gif) no-repeat top;}
.icon3 a:hover{ background-position:bottom;}
.icon4{width:208px;height:48px;left:605px;top:55px;position:absolute;}
.icon4 a{width:208px; height:48px; display:block; background:url(/FrontEnd/images20090801/Special/20121010/GroupPurchasing/icon_14.gif) no-repeat top;}
.icon4 a:hover{ background-position:bottom;}
